.stepone-wrapper {
  margin: 0 auto;
  width: 800px;
  padding: 65px;
  font-family: Noto Sans;
  background: #D7F2F3;
  border-radius: 15px;
}
.profile-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #696D94;
  width: 378px;
  height: 49px;
  background: #9FE5E9;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
  margin-bottom: 40px;
}

.stepone__service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

.stepone__service-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepone__service-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #383636;
}

.stepone__input-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #383636;
  margin-bottom: 5px;
}

.stepone__input {
  display: block;
  width: 100%;
  margin-bottom: 39px;
  height: 44px;
  background: #FFFFFF !important;
  border: 2px solid #3CB3BB;
  border-radius: 10px;
  color: #383636 !important;
}

.stepone__visit-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #383636;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.stepone__visit-list {
  margin: 0 auto 39px;
  border-radius: 10px;
  display: flex;
& p-selectButton {
    width: 470px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    border-radius: 10px;
  }
}

.stepone__question-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #383636;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.stepone__question-list {
  margin: 0 auto 39px;
  border-radius: 10px;
  display: flex;
& p-selectButton {
    width: 270px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    border-radius: 10px;
  }
}

.stepone__link-next {
  width: 240px;
  background: #FFFFFF;
  border: 2px solid #3CB3BB;
  border-radius: 15px;
  margin: 0 auto;
  padding: 3px 75px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #3CB3BB !important;
  text-align: center;
}
