<div class="main__title">
    Мои анкеты
</div>

<div class="section__title">
    Анкетирование
</div>

<div class="questionaries__list">
    <div class="questionaries__filters">
        <div style="overflow: hidden;" class="questionaries__filter">
            <div class="questionaries__filter-title">
                
            </div>
            <div style="background: none; border: none;"  class="questionaries__filter-block">
                
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Код
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                ФИО
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Код пользователя
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Дата подачи
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Статус
            </div>
                <div class="questionaries__filter-block">
                    <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                    <input class="questionaries__filter-field" type="text" name="" id="">
                </div> 
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Тема заявления
            </div>
                <div class="questionaries__filter-block">
                    <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                    <input class="questionaries__filter-field" type="text" name="" id="">
                </div> 
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Кто взял в обработку
            </div>
                <div class="questionaries__filter-block">
                    <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                    <input class="questionaries__filter-field" type="text" name="" id="">
                </div> 
        </div>
    </div>
    <ul class="responsive-table">
        <li class="table-row">
          <div class="col col-1"><a style="text-decoration: underline;" href="">Открыть</a></div>
          <div class="col col-2">01-000001</div>
          <div class="col col-3">Иванов Иван Сергеевич</div>
          <div class="col col-4">01-01-0101</div>
          <div class="col col-5">12:56 19.08.2021</div>
          <div class="col col-6"> <span class="questionary__status-waiting"></span> ждёт обработки</div>
          <div class="col col-7">общий тест</div>
          <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
        <li class="table-row">
            <div class="col col-1"><a style="text-decoration: underline;" href="">Открыть</a></div>
            <div class="col col-2">01-000002</div>
            <div class="col col-3">Иванов Иван Сергеевич</div>
            <div class="col col-4">01-01-0101</div>
            <div class="col col-5">12:56 19.08.2021</div>
            <div class="col col-6"> <span class="questionary__status-finished"></span> обработано</div>
            <div class="col col-7">общий тест</div>
            <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
        <li class="table-row">
            <div class="col col-1"><a style="text-decoration: underline; color: #3CB5BB;" href="">Открыть</a></div>
            <div class="col col-2">01-000003</div>
            <div class="col col-3">Иванов Иван Сергеевич</div>
            <div class="col col-4">01-01-0101</div>
            <div class="col col-5">12:56 19.08.2021</div>
            <div class="col col-6"> <span class="questionary__status-pending"></span> обрабатывается</div>
            <div class="col col-7">общий тест</div>
            <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
        <li class="table-row">
            <div class="col col-1"><a style="text-decoration: underline; color: #3CB5BB;" href="">Открыть</a></div>
            <div class="col col-2">01-000004</div>
            <div class="col col-3">Иванов Иван Сергеевич</div>
            <div class="col col-4">01-01-0101</div>
            <div class="col col-5">12:56 19.08.2021</div>
            <div class="col col-6"> <span class="questionary__status-pending"></span> обрабатывается</div>
            <div class="col col-7">общий тест</div>
            <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
    </ul>
    
</div>
<div class="show-all">Посмотреть все</div>


<div class="section__title">
    Рецепты
</div>

<div class="questionaries__list">
    <div class="questionaries__filters">
        <div style="overflow: hidden;" class="questionaries__filter">
            <div class="questionaries__filter-title">
                
            </div>
            <div style="background: none; border: none;"  class="questionaries__filter-block">
                
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Код
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                ФИО
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Код пользователя
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Дата подачи
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Статус
            </div>
                <div class="questionaries__filter-block">
                    <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                    <input class="questionaries__filter-field" type="text" name="" id="">
                </div> 
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Тема заявления
            </div>
                <div class="questionaries__filter-block">
                    <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                    <input class="questionaries__filter-field" type="text" name="" id="">
                </div> 
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Кто взял в обработку
            </div>
                <div class="questionaries__filter-block">
                    <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                    <input class="questionaries__filter-field" type="text" name="" id="">
                </div> 
        </div>
    </div>
    <ul class="responsive-table">
        <li class="table-row">
          <div class="col col-1"><a style="text-decoration: underline;" href="">Открыть</a></div>
          <div class="col col-2">01-000001</div>
          <div class="col col-3">Иванов Иван Сергеевич</div>
          <div class="col col-4">01-01-0101</div>
          <div class="col col-5">12:56 19.08.2021</div>
          <div class="col col-6"> <span class="questionary__status-pending"></span> обрабатывается</div>
          <div class="col col-7">общий тест</div>
          <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
        <li class="table-row">
            <div class="col col-1"><a style="text-decoration: underline;" href="">Открыть</a></div>
            <div class="col col-2">01-000002</div>
            <div class="col col-3">Иванов Иван Сергеевич</div>
            <div class="col col-4">01-01-0101</div>
            <div class="col col-5">12:56 19.08.2021</div>
            <div class="col col-6"> <span class="questionary__status-waiting"></span> ждёт обработки</div>
            <div class="col col-7">общий тест</div>
            <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
        <li class="table-row">
            <div class="col col-1"><a style="text-decoration: underline; color: #3CB5BB;" href="">Открыть</a></div>
            <div class="col col-2">01-000003</div>
            <div class="col col-3">Иванов Иван Сергеевич</div>
            <div class="col col-4">01-01-0101</div>
            <div class="col col-5">12:56 19.08.2021</div>
            <div class="col col-6"> <span class="questionary__status-pending"></span> обрабатывается</div>
            <div class="col col-7">общий тест</div>
            <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
    </ul>
    
</div>
<div class="show-all">Посмотреть все</div>


<div class="section__title">
    Сан-курортная карта
</div>

<div class="questionaries__list">
    <div class="questionaries__filters">
        <div style="overflow: hidden;" class="questionaries__filter">
            <div class="questionaries__filter-title">
                
            </div>
            <div style="background: none; border: none;"  class="questionaries__filter-block">
                
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Код
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                ФИО
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Код пользователя
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Дата подачи
            </div>
            <div class="questionaries__filter-block">
                <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                <input class="questionaries__filter-field" type="text" name="" id="">
            </div>
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Статус
            </div>
                <div class="questionaries__filter-block">
                    <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                    <input class="questionaries__filter-field" type="text" name="" id="">
                </div> 
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Тема заявления
            </div>
                <div class="questionaries__filter-block">
                    <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                    <input class="questionaries__filter-field" type="text" name="" id="">
                </div> 
        </div>
        <div class="questionaries__filter">
            <div class="questionaries__filter-title">
                Кто взял в обработку
            </div>
                <div class="questionaries__filter-block">
                    <img class="questionaries__filter-img" src="../../../assets/nurse/Group 111.svg" alt="">
                    <input class="questionaries__filter-field" type="text" name="" id="">
                </div> 
        </div>
    </div>
    <ul class="responsive-table">
        <li class="table-row">
          <div class="col col-1"><a style="text-decoration: underline;" href="">Открыть</a></div>
          <div class="col col-2">01-000001</div>
          <div class="col col-3">Иванов Иван Сергеевич</div>
          <div class="col col-4">01-01-0101</div>
          <div class="col col-5">12:56 19.08.2021</div>
          <div class="col col-6"> <span class="questionary__status-pending"></span> обрабатывается</div>
          <div class="col col-7">общий тест</div>
          <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
        <li class="table-row">
            <div class="col col-1"><a style="text-decoration: underline;" href="">Открыть</a></div>
            <div class="col col-2">01-000002</div>
            <div class="col col-3">Иванов Иван Сергеевич</div>
            <div class="col col-4">01-01-0101</div>
            <div class="col col-5">12:56 19.08.2021</div>
            <div class="col col-6"> <span class="questionary__status-waiting"></span> ждёт обработки</div>
            <div class="col col-7">общий тест</div>
            <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
        <li class="table-row">
            <div class="col col-1"><a style="text-decoration: underline; color: #3CB5BB;" href="">Открыть</a></div>
            <div class="col col-2">01-000003</div>
            <div class="col col-3">Иванов Иван Сергеевич</div>
            <div class="col col-4">01-01-0101</div>
            <div class="col col-5">12:56 19.08.2021</div>
            <div class="col col-6"> <span class="questionary__status-pending"></span> обрабатывается</div>
            <div class="col col-7">общий тест</div>
            <div class="col col-8">Иванова Марина Ивановна</div>
        </li>
    </ul>
    
</div>
<div class="show-all">Посмотреть все</div>