<header class="header" id="top">

    <div class="header-search">
        <div class="header-search__item">
            <input class="header-search__input" placeholder="Что вы ищете?" type="text">
            <button class="header-search__btn">
              <img src="../../../../../assets/drug-interaction/pics/header-search.svg" alt="">Найти
            </button>
        </div>

        <div class="header-search__item">
            <div class="header-search__city">
                <img src="../../../../../assets/drug-interaction/pics/header-city.svg" alt=""> Нижний Новгород
            </div>
            <div class="header-search__clinic">
                <img src="../../../../../assets/drug-interaction/pics/header-clinic.svg"> Поликлиника №4
                <!-- <p-dropdown [options]="clinics" onclick="" [(ngModel)]="selectedClinicCode" optionLabel="name" optionValue="code" placeholder="Выберите поликлинику"></p-dropdown> -->
            </div>
        </div>


    </div>

    <div class="header-nav">
        <a class="logo" [routerLink]="['', 'main']" id="header-logo" routerLinkActive="active">
            <img class="logo-img" src="../../../../../assets/drug-interaction/pics/logo.png" alt="">
        </a>

        <div class="menu__list-item" id="header-nav1" routerLinkActive="active">
            <a class="menu__list-link" [routerLink]="['', 'nurse-common_base']">Общая база</a>
        </div>

        <div class="menu__list-item" id="header-nav1" routerLinkActive="active">
            <a class="menu__list-link" [routerLink]="['', 'nurse-pending_review']">Ожидают рассмотрения</a>
        </div>

        <div class="menu__list-item" id="header-nav2" routerLinkActive="active">
            <a class="menu__list-link" [routerLink]="['', 'nurse-questionaries']">Мои анкеты</a>
        </div>

        <div class="menu__list-item">
            <a class="menu__list-link" [routerLink]="['',  'nurse-account']" routerLinkActive="active"><b>Роль</b>
            <br>
            Медсестра
            </a>
        </div>

        <div class="menu__list-item" id="header-nav7">
            <img class="menu__list-user" src="../../../../../assets/drug-interaction/pics/header-profile.svg" width="44px" height="44px" alt="">
            <div class="dropdown">
                <a class="dropbtn" [routerLink]="['',  'account']" routerLinkActive="active">{{user.user.nurse.last_name}} {{name}}.{{patronymic}}.</a>
                <div class="dropdown-content">
                <a [routerLink]="['', 'nurse-account']">Учетная запись</a>
                <a [routerLink]="['', 'reference']">Уведомления</a>
                <a [routerLink]="['', 'questiong-view']">Инструкции по сервису</a>
                <hr style="margin: -5px 0;">
                <a [routerLink]="['', 'nurse-account']">Выйти</a>
                </div>

            </div>
            <img src="../../../../../assets/nurse/triangle.svg" alt="">

        </div>
    </div>

</header>
