* {
  font-family: Noto Sans;
}

.profile-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #696D94;
  width: 500px;
  height: 49px;
  background: #9FE5E9;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
  margin-bottom: 40px;
}

.personal__wrapper {
  width: 900px;
  background: #E3F6F7;
  border-radius: 10px;
  padding: 35px 50px;
  margin-bottom: 15px;
& hr {
    width: 100%;
    height: 0px;
    border: 1px solid #383636;
    margin-bottom: 22px;
  }
}

.personal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #383636;
  margin-bottom: 15px;
}

.personal__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.personal__item {
  width: 48%;
}

.personal__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383636;
  margin-bottom: 13px;
}

.personal__item-input {
  width: 371px;
  height: 32px;
  background: #FFFFFF;
  border: 2px solid #3CB3BB;
  border-radius: 10px;
  padding: 3px 10px;
  margin-bottom: 22px;
}

.personal__item-checkbox {
  display: flex;
  align-items: center;
}

.personal__item-input-checkbox {
  width: 23px;
  height: 23px;
  margin-right: 22px;
  margin-bottom: 0;
}

.personal__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383636;
  margin-right: 40px;
}

.personal__edit {
  width: 280px;
  height: 41px;
  background: #FFFFFF;
  border: 2px solid #3CB5BB;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #3CB5BB !important;
  padding: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 56px auto 0;
}
