* {
  font-family: Noto Sans;
}

.profile-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #696D94;
  width: 500px;
  height: 49px;
  background: #9FE5E9;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
  margin-bottom: 40px;
}
.stepone-wrapper {
  margin: 0 auto;
  width: 800px;
  padding: 40px;
  font-family: Noto Sans;
  background: #D7F2F3;
  border-radius: 15px;
}
.questioning__wrapper {
  max-width: 1000px;
  background: #D7F2F3;
  border-radius: 15px;
  padding: 35px;
  width: 100%;
}
.result__info
{
  margin-left:50px;
}
.result__title {
  font-family: Noto Sans;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #383636;
  margin-bottom: 23px;
}

.result__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}

.result__img {
  width: 69px;
  height: 69px;
  margin-top:-60px;
  margin-left:20px;
}

.result__text {
  font-family: Noto Sans;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #383636;
 }

.result__list {
  list-style: disc;
  margin-bottom: 20px;
}

.result__list-item {
  font-family: Noto Sans;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #383636;
}

.result__link {
  width: 125px;
  background: #3CB3BB;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 4px 10px;
  font-family: Noto Sans;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  color: #FFFFFF !important;
}
