<div class="account">
  <div class="account__wrapper">
    <h2 class="profile-title">Анкетирование</h2>

    <div class="stepone-wrapper">
      <h4 class="result__title">Результат:</h4>
      <div class="result__wrapper">
        <img src="../../../../assets/pics/иконка%20_осторожно_.png" alt="" class="result__img">
        <div class="result__info">
          <p class="result__text">Ожидайте проверку анкеты мед. сестрой в течение:</p>
          <ul class="result__list">
            <li class="result__list-item">24 часов, если хотите записаться на прием к терепевту</li>
            <li class="result__list-item">не более 14 дней, если хотите записаться на прием к узкому специалисту</li>
          </ul>
          <p class="result__text">Посмотреть результат Вы можете в разделе “Уведомления”</p>
        </div>
      </div>
      <a href="" class="result__link">Готово</a>
    </div>
  </div>
</div>
