<div class="clinic">

    <div class="clinic__wrapper">
        <div class="service__list">
            <a class="service__list-link" href="#">
                <img class="service__list-img" src="../../../../assets/pics/polyclinic.service-list/service-1.png" alt="">
                <span class="service__list-text">
                        ОМС
                    </span>
            </a>

            <a class="service__list-link" [routerLink]="['', 'clinic', 'paid-services']" routerLinkActive="active">
                <img class="service__list-img" src="../../../../assets/pics/polyclinic.service-list/service-2.png" alt="">
                <span class="service__list-text">
                        Платные услуги
                    </span>
            </a>

            <a class="service__list-link" href="#">
                <img class="service__list-img" src="../../../../assets/pics/polyclinic.service-list/service-3.png" alt="">
                <span class="service__list-text">
                        ДМС
                    </span>
            </a>

            <a class="service__list-link" href="#">
                <img class="service__list-img" src="../../../../assets/pics/polyclinic.service-list/service-4.png" alt="">
                <span class="service__list-text">
                        ЭЛН
                    </span>
            </a>

            <a class="service__list-link" href="#">
                <img class="service__list-img" src="../../../../assets/pics/polyclinic.service-list/service-5.png" alt="">
                <span class="service__list-text">
                        Дневной стационар
                    </span>
            </a>
        </div>

    </div>
</div>