<div class="account">
    <div class="account__wrapper">
        <h2 class="profile-title">Просмотр записи</h2>

        <div class="view__wrapper">
            <h3 class="view__title">Информация:</h3>
            <hr>
            <div class="view__item">
                <p class="view__item-title">Талон:</p>
                <p class="view__item-value">4648745</p>
            </div>

            <div class="view__item">
                <p class="view__item-title">Услуга:</p>
                <p class="view__item-value">Запись на вакцинацию</p>
            </div>

            <div class="view__item">
                <p class="view__item-title">Клиника:</p>
                <p class="view__item-value">Городская поликлиника №4</p>
            </div>

            <div class="view__item">
                <p class="view__item-title">Врач:</p>
                <p class="view__item-value">Прививочный кабинет (Поликлиника ЦРБ)</p>
            </div>

            <div class="view__item">
                <p class="view__item-title">Вас примут:</p>
                <p class="view__item-value">16.09.2020</p>
            </div>

            <div class="view__item">
                <p class="view__item-title">Время приема:</p>
                <p class="view__item-value">09:30</p>
            </div>

            <div class="view__item">
                <p class="view__item-title">Статус:</p>
                <p class="view__item-value">Заявка актуальна</p>
            </div>

            <div class="view__qr-wrapper">
                <div class="view__qr-code">
                    <img class="view__qr-img" src="../../../../assets/pics/view-record-qr.png" alt="">
                </div>
                <div class="view__qr-btns">
                    <a class="view__qr-btn" href="#">Скачать Qr-код</a>
                    <a class="view__qr-btn" href="#">Отменить запись</a>
                </div>
            </div>
        </div>
    </div>
</div>