* {
    font-family: Noto Sans;
}

.profile-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #696D94;
    width: 500px;
    height: 49px;
    background: #9FE5E9;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    margin-bottom: 40px;
}

.view__wrapper {
    background: #E3F6F7;
    border-radius: 10px;
    width: 1050px;
    padding: 35px 52px;
    & hr {
        width: 100%;
        height: 0px;
        border: 1px solid #383636;
        margin-bottom: 14px;
    }
}

.view__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #383636;
    margin-bottom: 14px;
}

.view__item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.view__item-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #383636;
    margin-right: 70px;
    width: 160px;
}

.view__item-value {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #383636;
}

.view__qr-wrapper {
    margin-top: 33px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.view__qr-code {
    width: 285px;
    height: 285px;
    border: 3px solid #3CB5BB;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view__qr-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.view__qr-btn {
    width: 298px;
    height: 41px;
    background: #3CB5BB;
    border-radius: 10px;
    margin-bottom: 51px;
    text-align: center;
    padding: 3px 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #FDFDFD !important;
}