* {
    font-family: Noto Sans !important;
}

.antibodies__title {
    width: 266px;
    height: 49px;
    background: #9FE5E9;
    border-radius: 10px;
    text-align: center;
    padding: 2px 20px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #556080;
    margin-bottom: 33px;
}

.antibodies__list-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #383636;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    & span {
        width: 270px;
        margin-right: 31px;
    }
    & input {
        font-weight: 400;
    }
}

.antibodies__list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 24px;
    width: 750px;
}

.antibodies__list-top-item {
    width: 230px;
    height: 57px;
    background: #FFFFFF;
    border: 1px solid #3CB3BB;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #3CB3BB !important;
    &:hover {
        background: #3CB3BB;
        color: #FFFFFF !important;
    }
}

.antibodies__list-test {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 33px;
    }
}

.antibodies__list-radio {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.antibodies__list-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #383636;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    & .antibodies__list-title {
        margin-bottom: 0;
    }
}

.antibodies__time {
    width: 100%;
    & .antibodies__list-title {
        margin-top: 39px;
    }
}

// 
.antibodies__timelist {
    display: grid;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    margin-bottom: 23px;
}

.antibodies__timelist-item {
    width: 80px;
    height: 48px;
    background: #15A2A9;
    border-radius: 10px;
    padding: 14px 17px;
    margin: 0 13px 10px 13px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF !important;
}

.antibodies__list-btn {
    width: 139px;
    height: 53px;
    background: #FFFFFF;
    border: 2px solid #3CB5BB;
    border-radius: 15px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 9px;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #3CB5BB !important;
}