<div class="main__info">

    <div class="container">
        <div class="diagnosis__list">
            <div class="diagnosis__list-item">
                <a class="diagnosis__list-link" [routerLink]="['','analyzes']" routerLinkActive="active">
                    <img class="diagnosis__list-img" src="./../../../assets/pics/analyzes.png" alt="analyzes">
                    <p class="diagnosis__list-text">
                        <span>Сдача анализов</span>
                        <img class="diagnosis__list-text-img" src="./../../../assets/pics/analyzes-text.png" alt="">
                    </p>
                </a>
            </div>

            <div class="diagnosis__list-item">
                <a class="diagnosis__list-link" [routerLink]="['','surveys']" routerLinkActive="active">
                    <img class="diagnosis__list-img" src="./../../../assets/pics/surveys.png" alt="surveys">
                    <p class="diagnosis__list-text">
                        <span>Обследование</span>
                        <img class="diagnosis__list-text-img" src="./../../../assets/pics/surveys-text.png" alt="">
                    </p>
                </a>
            </div>

            <div class="diagnosis__list-item">
                <a class="diagnosis__list-link" [routerLink]="['','examination']" routerLinkActive="active">
                    <img class="diagnosis__list-img" src="./../../../assets/pics/examination.png" alt="examination">
                    <p class="diagnosis__list-text">
                        <span>Диспансеризация</span>
                        <img class="diagnosis__list-text-img" src="./../../../assets/pics/examination-text.png" alt="">
                    </p>
                </a>
            </div>
        </div>
    </div>


</div>