<div class="main__title">
    Уведомления
</div>
<div class="notifications">
    <div class="notifications__filters">
        <div class="notifications__filter">
            Все
            <div class="white__circle"></div>
        </div>
        <span class="p-input-icon-right">
            <i style="color:white;" class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Поиск" />
        </span>
    </div>

    <div class=notification>
        <div class="notification__block"></div><span  class="notification__descr">Добрый день! Для санзкурортного лечения возможно ли сдать доп. анализ, во вложении заключение специалиста...</span>
        <div class=notification__date>
          <div class="date__block"></div><span  class="date__descr">02.07.21</span>
        </div>
        <div class="right__block"></div>
        <div class="patient__code-block"></div><span  class="patient__code-id">ID-пациента: 1679-09</span>
      </div>
</div>