<div class="main__info">

    <div class="container">
        <div class="recording__list">
            <div class="recording__list-item">
                <a class="recording__list-link" [routerLink]="['','recording']" routerLinkActive="active">
                    <img class="recording__list-img" src="./../../../assets/pics/online-consultation.png" alt="online-consultation">
                    <p class="recording__list-text">
                        <span>Онлайн консультация</span>
                        <img class="recording__list-text-img" src="./../../../assets/pics/online-consultation-text.png" alt="">
                    </p>
                </a>
            </div>

            <div class="recording__list-item">
                <a class="recording__list-link" [routerLink]="['','clinic-appointment', 'step-one']" routerLinkActive="active">
                    <img class="recording__list-img" src="./../../../assets/pics/reception.png" alt="reception">
                    <p class="recording__list-text">
                        <span>Приём в клинике</span>
                        <img class="recording__list-text-img" src="./../../../assets/pics/reception-text.png" alt="">
                    </p>
                </a>
            </div>

            <div class="recording__list-item">
                <a class="recording__list-link" [routerLink]="['','recording']" routerLinkActive="active">
                    <img class="recording__list-img" src="./../../../assets/pics/call-doctor.png" alt="call-doctor">
                    <p class="recording__list-text">
                        <span>Вызвать врача на дом</span>
                        <img class="recording__list-text-img" src="./../../../assets/pics/call-doctor-text.png" alt="">
                    </p>
                </a>
            </div>
        </div>
    </div>

</div>