
<div class="container" >

  <form class="general__test">
    <div class="general__list">
      <!-- age -->
      <div class="general__list-item">
        <h2 class="general__list-title">Выберите возраст:</h2>
        <ul class="general__age">
          <li class="general__age-item">
            <p class="general__age-text">0-2</p>
            <input type="radio" name='age' class="general__age-input">
          </li>
          <li class="general__age-item">
            <p class="general__age-text">3-6</p>
            <input type="radio" name='age' class="general__age-input">
          </li>
          <li class="general__age-item">
            <p class="general__age-text">7-12</p>
            <input type="radio" name='age' class="general__age-input">
          </li>
          <li class="general__age-item">
            <p class="general__age-text">13-17</p>
            <input type="radio" name='age' class="general__age-input">
          </li>
          <li class="general__age-item">
            <p class="general__age-text">18-24</p>
            <input type="radio" name='age'  class="general__age-input">
          </li>
          <li class="general__age-item">
            <p class="general__age-text">25-34</p>
            <input type="radio" name='age' class="general__age-input">
          </li>
          <li class="general__age-item">
            <p class="general__age-text">35-44</p>
            <input type="radio" name='age' class="general__age-input">
          </li>
          <li class="general__age-item">
            <p class="general__age-text">45-54</p>
            <input type="radio"  name='age' class="general__age-input">
          </li>
          <li class="general__age-item">
            <p class="general__age-text">55-64</p>
            <input type="radio" name='age' class="general__age-input">
          </li>
          <li class="general__age-item">
            <p class="general__age-text">65 и старше</p>
            <input type="radio" name='age' class="general__age-input">
          </li>
        </ul>
      </div>
      <!-- gender -->
      <div class="general__list-item">
        <h2 class="general__list-title">Выберите пол:</h2>
        <ul class="general__gender">
          <li class="general__gender-item">
            <p class="general__gender-text">Мужской</p>
            <input class="general__gender-input" name="gender" type="radio">
          </li>
          <li class="general__gender-item">
            <p class="general__gender-text">Женский</p>
            <input class="general__gender-input" name="gender" type="radio">
          </li>
        </ul>
      </div>
      <!-- body -->
      <div class="general__list-item">
        <h2 class="general__list-title">Выберите беспокоющую часть тела:</h2>
        <div class="general__body">
          <div class="general__body-item">
            <img class="general__body-img" src="./../../../assets/pics/body.png" alt="body">
            <a href="#" title="Голова" class="general__body-link general__body-link-head"></a>
            <a href="#" title="Верх живота"class="general__body-link general__body-link-chest"></a>
            <a href="#" title="Низ живота"class="general__body-link general__body-link-stomach"></a>
            <a href="#" title="Левая рука" class="general__body-link general__body-link-left__hand"></a>
            <a href="#" title="Правая рука" class="general__body-link general__body-link-right__hand"></a>
            <a href="#" title="Левая нога" class="general__body-link general__body-link-left__leg"></a>
            <a href="#" title="Правая нога"class="general__body-link general__body-link-right__leg"></a>
          </div>
          <div class="general__body-item">
            <img class="general__body-img" src="./../../../assets/pics/body-reverse.png" alt="body">
            <a href="#" title="Затылок" class="general__body-link general__body-link-back-head"></a>
            <a href="#" title="Позвоночник"class="general__body-link general__body-link-back-rear"></a>
            <a href="#" title="Копчик"class="general__body-link general__body-link-back-stomach"></a>
            <a href="#" title="Левая рука"class="general__body-link general__body-link-back-left__hand"></a>
            <a href="#" title="Правая рука" class="general__body-link general__body-link-back-right__hand"></a>
            <a href="#"  title="Левая нога" class="general__body-link general__body-link-back-left__leg"></a>
            <a href="#" title="Правая нога" class="general__body-link general__body-link-back-right__leg"></a>
          </div>
        </div>
      </div>
      <!-- symp-s/an-s -->
      <div class="general__list-item">
        <h2 class="general__list-title ">Выберите подходящие симптомы/анализы:</h2>
        <div class="general__symptoms-analyzes">
          <div class="general__sym-titles">
            <a class="general__symptoms-analyzes-title" href="#">Список симптомов</a>
            <a class="general__symptoms-analyzes-title" href="#">Список анализов</a>
          </div>
          <div class="general__sym-list">
            <div class="general__sym-item">
              <p class="general__sym-notice">*Укажите, какие есть анализы*</p>
              <ul class="general__sym-choice">
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Общий анализ крови</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Иммунологический анализ крови</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Общий анализ мочи</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Биохимический анализ крови</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Электрокардиография</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Томография</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Кожные пробы</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Копрограмма (анализ кала)</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Функциональные тесты</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Инструментальные исследования</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Рентгенография</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Радионуклидное исследование</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Лапароскопия диагностическая</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Клинико-лабораторная гематология</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">ПЦР, полимеразная цепная реакция</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Микроскопия мазка</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Биопсия</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Тестирование, опросники </p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Генетические исследования</p>
                </li>
              </ul>
            </div>

            <div class="general__sym-item general__sym-item-none">
              <p class="general__sym-notice">*Укажите, какие есть симптомы*</p>
              <ul class="general__sym-choice">
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Слабость / недомогание</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Потеря сознания</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Сыпь, прыщи, язвочки, другие изменения на коже</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Температура тела повышена</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Нарушения питания / усвоения / вкуса / метаболизма </p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Артериальное давление повышено (>140/90) в покое</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Отёки</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Путешествие или пребывание в необычном месте</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Обстоятельства работы, быта, семейные</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Температура тела ниже нормальной</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Жажда</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Потливость (не связанная с физической нагрузкой или жарой)</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Изменения нервной активности, ритма и настроения</p>
                </li>
                <li class="general__sym-point">
                  <input class="general__sym-input" type="checkbox">
                  <p class="general__sym-text">Длительное сдавление частей тела тяжелыми предметами (Сдавление частей тела или всего тела под завалами, обломками, в результате обрушения шахт).</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- info -->
      <div class="general__list-item">
        <h2 class="general__list-title ">Дополнительные сведения:</h2>
        <div class="general__info">
          <ul class="general__info-list">
            <li class="general__info-item">
              <input class="general__info-input" type="checkbox">
              <p class="general__info-text">Я - врач, больной - рядом.</p>
            </li>
            <li class="general__info-item">
              <input class="general__info-input" type="checkbox">
              <p class="general__info-text">Быстрый режим (симптомчекер)</p>
            </li>
            <li class="general__info-item">
              <input class="general__info-input" type="checkbox">
              <p class="general__info-text">Понимаю, что определяются не все существующие болезни, и что лучший результат - когда отвечает сам больной, один или с врачом</p>
            </li>
          </ul>
        </div>
      </div>

      <a class="general__link" href="#" type="submit">Начать диагностику</a>
    </div>
  </form>
</div>
