
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0
}

ul[class] {
  list-style: none
}

img {
  max-width: 100%;
  display: block
}

input,
button,
textarea,
select {
  font: inherit
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* для основных стр */

.container {
  max-width: 1600px;
  padding: 0 20px;
  margin-left: 12%;
  margin-top: 5%;
  position: relative;
}



body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383a4d;
  position: relative;
}

a {
  display: block;
}

a:hover {
  color: #b0b0b0;
}


.gender,
.access {
  display: flex;
  margin: 24px auto;
}

.gender-item {
  margin-right: 70px;
  margin-left: 30px;
  display: flex;
}

.general__test {
  width: 967px;
  height: 100%;
  background: #FFFFFF;
  border-radius: 15px;
  margin: 0 auto;
  padding: 47px 87px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

.general__list-item {
  margin-bottom: 100px;
}

.general__list-title {
  width: 100%;
  height: 87px;
  background: linear-gradient(180deg, #3BB3BB 0%, #F1F1F1 100%);
  border-radius: 15px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 51px;
}

.general__age {
  margin: 0 auto;
  max-width: 790px;
  max-height: 130px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 18% 18% 18% 18% 18%;
  row-gap: 20px;
  column-gap: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.general__gender {
  margin: 0 auto;
  max-width: 790px;
  max-height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.general__body {
  margin: 0 auto;
  max-width: 790px;
  min-height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.general__body-item,
.general__body-img {
  width: 282px;
  height: 100%;
  position: relative;
}

.general__body-link {
  width: 20px;
  height: 20px;
  background-color: green;
  margin: 1px;
  position: absolute;
  opacity: 0;
}

.general__body-link-head,
.general__body-link-back-head {
  top: 5px;
  right: 120px;
  width: 40px;
  height: 50px;
}

.general__body-link-chest,
.general__body-link-back-rear {
  top: 90px;
  right: 105px;
  width: 70px;
  height: 100px;
}

.general__body-link-stomach,
.general__body-link-back-stomach {
  top: 198px;
  right: 115px;
  width: 50px;
  height: 60px;
}

.general__body-link-left__hand,
.general__body-link-back-right__hand {
  top: 130px;
  right: 25px;
  width: 60px;
  height: 100px;
}

.general__body-link-right__hand,
.general__body-link-back-left__hand {
  top: 130px;
  right: 195px;
  width: 60px;
  height: 100px;
}

.general__body-link-right__leg,
.general__body-link-back-left__leg {
  top: 265px;
  right: 155px;
  width: 60px;
  height: 270px;
}

.general__body-link-left__leg,
.general__body-link-back-right__leg {
  top: 265px;
  right: 65px;
  width: 60px;
  height: 270px;
}

.general__sym-item-none {
  display: none;
}

.general__symptoms-analyzes {
  margin: 0 auto;
  max-width: 790px;
}

.general__sym-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 66px;
}

.general__symptoms-analyzes-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 5px 15px;
}

.general__sym-notice {
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 26px;
}

.general__sym-choice {
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

.general__sym-point {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.general__sym-input {
  margin-right: 15px;
}

.general__sym-text {
  max-width: 700px;
}

.general__info {
  margin: 0 auto;
  max-width: 790px;
}

.general__info-item {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 30px;
}

.general__info-input {
  margin-right: 15px;
}

.general__info-text {
  max-width: 700px;
}

.general__link {
  width: 481px;
  height: 68px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 15px;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  padding: 20px 100px;
}



/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}


