<img class="progres-img" src="./../../../../assets/pics/appointment.png" alt="progress">



<div class="row">
  <div class="col-6">
    <div class="position">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Специализация врача
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Невролог</a>
          <a class="dropdown-item" href="#">Терапевт</a>
          <a class="dropdown-item" href="#">Кардиолог</a>
          <a class="dropdown-item" href="#">Инфекционист</a>
          <a class="dropdown-item" href="#">Эндокринолог</a>
          <a class="dropdown-item" href="#">Гастроэнтеролог</a>
          <a class="dropdown-item" href="#">Онколог</a>
          <a class="dropdown-item" href="#">Оториноларинголог</a>
          <a class="dropdown-item" href="#">Отоларинголог</a>
          <a class="dropdown-item" href="#">Офтальмолог</a>
          <a class="dropdown-item" href="#">Хирург</a>
          <a class="dropdown-item" href="#">Ревматолог</a>
          <a class="dropdown-item" href="#">Эндоскопист</a>
        </div>
      </div>
    </div>
  </div>


  <div class="col-6">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Врач
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtn">
      <a class="dropdown-item" href="#">Третинник Л.В.</a>
      <a class="dropdown-item" href="#">Гутникова В.Я.</a>
      <a class="dropdown-item" href="#">Филимонова О.В.</a>
      <a class="dropdown-item" href="#">Кадохова В.В.</a>
      <a class="dropdown-item" href="#">Манжула Ю.В.</a>
      <a class="dropdown-item" href="#">Майский И.А.</a>
      <a class="dropdown-item" href="#">Болсун С.В.</a>
      <a class="dropdown-item" href="#">Надырова Н.О.</a>
      <a class="dropdown-item" href="#">Пименов А.Н.</a>
      <a class="dropdown-item" href="#">Мамаева С.Н.</a>
      <a class="dropdown-item" href="#">Николаева Л.Г.</a>
      <a class="dropdown-item" href="#">Токина И.В.</a>
      <a class="dropdown-item" href="#">Кузнецов А.А.</a>
    </div>
  </div>
  </div>
</div>

<h3 class="record__main-title">Выберите дату прихода:</h3>
<!-- календарь -->
<p-calendar [firstDayOfWeek]="1" dateFormat="dd.mm.yy"></p-calendar>

<!--  -->
<p class="next">Готово</p>
