<div class="container">
    <div class="dialog__wrapper">
        <div class="dialog__top">
            <a href="" class="dialog__top-back">
                <img src="../../../assets/pics/dialog__top-back.png" alt="" class="dialog__top-back--img">
                <p class="dialog__top-back--text">Назад</p>
            </a>
            <div class="dialog__top-info">
                <p class="dialog__top-name">Андрей А.</p>
                <p class="dialog__top-time">был в сети 55 минут назад</p>
            </div>
            <img src="../../../assets/pics/dialog__top.png" alt="" class="dialog__top-img">
        </div>

        <div class="dialog__main">
            <ul class="dialog__list">
                <li class="dialog__list-item">
                    <img src="../../../assets/pics/dialog__list-img-1.png" alt="" class="dialog__list-img">
                    <div class="dialog__list-info">
                        <p class="dialog__list-name">Иванов И.</p>
                        <p class="dialog__list-time">08:09</p>
                        <p class="dialog__list-text">
                            Прив, Андрей! Как тебе эта поликлиника? К каким врачам ходил?
                        </p>
                    </div>
                </li>
                <li class="dialog__list-item">
                    <img src="../../../assets/pics/dialog__list-img-2.png" alt="" class="dialog__list-img">
                    <div class="dialog__list-info">
                        <p class="dialog__list-name">Иванов И.</p>
                        <p class="dialog__list-time">08:19</p>
                        <p class="dialog__list-text">
                            Привет. Поликлиника супер, у нее даже есть веб- сайт. Ходил к
                            хирургу,
                            притный человек и высококвалифированный спецаилист .
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="dialog__footer">
            <a href="" class="dialog__footer-file">
                <img src="../../../assets/pics/dialog__footer-file.png" alt="" class="dialog__footer-file--img">
            </a>
            <input type="text" class="dialog__footer-input" placeholder="Напишите сообщение...">
            <a href="" class="dialog__footer-send">
                <img src="../../../assets/pics/dialog__footer-send.png" alt="" class="dialog__footer-send--img">
            </a>
        </div>
    </div>
</div>