<div class="container">
    <div class="medmap">
        <div class="medmap__research">
            <h2 class="medmap__research-title">Перечень исследований:</h2>
            <ul class="medmap__research-list">
                <li class="medmap__research-item-title">
                    <div class="medmap__research-item-name">
                        <h3 class="medmap__research-item-text">Наименование:</h3>
                    </div>
                    <div class="medmap__research-item-doctor">
                        <h3 class="medmap__research-item-text">Врач:</h3>
                    </div>
                    <div class="medmap__research-item-date">
                        <h3 class="medmap__research-item-text">Дата исследования:</h3>
                    </div>
                    <div class="medmap__research-item-instruction">
                        <h3 class="medmap__research-item-text">Итоговый результат:</h3>
                    </div>
                </li>
                <li class="medmap__research-item">
                    <div class="medmap__research-item-name">
                        <h3 class="medmap__research-item-text">Флюрография</h3>
                    </div>
                    <div class="medmap__research-item-doctor">
                        <a class="medmap__research-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__research-item-date">
                        <h3 class="medmap__research-item-text">22.10.2021</h3>
                    </div>
                    <div class="medmap__research-item-instruction">
                        <a class="medmap__research-item-link" href="#">Подробней</a>
                    </div>
                </li>
                <li class="medmap__research-item">
                    <div class="medmap__research-item-name">
                        <h3 class="medmap__research-item-text">Маммография</h3>
                    </div>
                    <div class="medmap__research-item-doctor">
                        <a class="medmap__research-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__research-item-date">
                        <h3 class="medmap__research-item-text">12.03.2021</h3>
                    </div>
                    <div class="medmap__research-item-instruction">
                        <a class="medmap__research-item-link" href="#">Подробнее</a>
                    </div>
                </li>
                <li class="medmap__research-item">
                    <div class="medmap__research-item-name">
                        <h3 class="medmap__research-item-text">МРТ</h3>
                    </div>
                    <div class="medmap__research-item-doctor">
                        <a class="medmap__research-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__research-item-date">
                        <h3 class="medmap__research-item-text">10.09.2021</h3>
                    </div>
                    <div class="medmap__research-item-instruction">
                        <a class="medmap__research-item-link" href="#">Подробнее</a>
                    </div>
                </li>
                <li class="medmap__research-item">
                    <div class="medmap__research-item-name">
                        <h3 class="medmap__research-item-text">КТ</h3>
                    </div>
                    <div class="medmap__research-item-doctor">
                        <a class="medmap__research-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__research-item-date">
                        <h3 class="medmap__research-item-text">03.11.2021</h3>
                    </div>
                    <div class="medmap__research-item-instruction">
                        <a class="medmap__research-item-link" href="#">Подробнее</a>
                    </div>
                </li>
                <li class="medmap__research-item">
                    <div class="medmap__research-item-name">
                        <h3 class="medmap__research-item-text">ЭКГ</h3>
                    </div>
                    <div class="medmap__research-item-doctor">
                        <a class="medmap__research-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__research-item-date">
                        <h3 class="medmap__research-item-text">13.10.2021</h3>
                    </div>
                    <div class="medmap__research-item-instruction">
                        <a class="medmap__research-item-link" href="#">Подробнее</a>
                    </div>
                </li>
                <li class="medmap__research-item">
                    <div class="medmap__research-item-name">
                        <h3 class="medmap__research-item-text">Эндоскомия</h3>
                    </div>
                    <div class="medmap__research-item-doctor">
                        <a class="medmap__research-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__research-item-date">
                        <h3 class="medmap__research-item-text">22.10.2021</h3>
                    </div>
                    <div class="medmap__research-item-instruction">
                        <a class="medmap__research-item-link" href="#">Подробнее</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>