<div class="main__info">
        <h2 class="main__title">Выписать рецепт</h2>
       
           
        <div class="main__wrapper">
           

            <div class="main__list" >
                <div class="main__list-item">
                    <p class="main__list-title">Фамилия, инициалы имени и отчества (последнее — при наличии) пациента</p>
                    <input class="main__list-input" type="title" name="firstName">
                </div>

                <div class="main__list-item">
                    <p class="main__list-title">Дата рождения</p>
                    <input class="main__list-input" type="title" name="secondName">
                </div>

                <div class="main__list-item">
                    <p class="main__list-title">Фамилия, инициалы имени и отчества (последнее — при наличии) лечащего
                        врача (фельдшера, акушерки)	
                        </p>
                    <input class="main__list-input" type="title" name="patronymic">
                </div>
                <div class="main__list-item">
                    <p class="main__list-title">руб. |коп.| Rp.
                        </p>
                    <input class="main__list-input" type="title" name="patronymic"><br><br>
                    <input class="main__list-input" type="title" name="patronymic"><br><br>
                </div>
                <div class="main__list-item">
                    <p class="main__list-title">Рецепт действителен
                        </p>
                    <input class="main__list-input" type="title" name="patronymic">
                </div>
            </div>
            <div class="observation__footer">
                <a href="" class="observation__footer-link">Сформировать документ</a>
                <a href="" class="observation__footer-link">Подписать документ</a>
                <a href="" class="observation__footer-link" >Отправить пациенту</a>
            </div>
        </div>
    </div>