<div class="clinic">

    <div class="clinic__wrapper">
        <h1 class="clinic-title">Отзывы</h1>

        <div class="reviews">
            <form class="reviews__input">
                <textarea class="reviews__input-area" name="review" cols="30" rows="1" pInputTextarea autoResize="autoResize" style="height: 35px; overflow: hidden;" placeholder="Оставить отзыв..."></textarea>
                <button class="reviews__input-link" type="submit">
                        <img class="reviews__input-img" src="../../../../assets/pics/comment__edit.svg" alt="">
                    </button>
            </form>

            <hr>

            <div class="reviews__list">
                <div class="reviews__list-item">
                    <img class="reviews__list-img" src="../../../../assets/pics/user001.png" alt="">
                    <div class="reviews__list-info">
                        <h4 class="reviews__list-name">Виктория Л.</h4>
                        <p class="reviews__list-text">Спасибо за лечение! Особая благодарность коордиологу Иванову К.Н.</p>
                    </div>
                    <p class="reviews__list-date">15.07.21</p>
                </div>

                <div class="reviews__list-item">
                    <img class="reviews__list-img" src="../../../../assets/pics/user001.png" alt="">
                    <div class="reviews__list-info">
                        <h4 class="reviews__list-name">Виктория Л.</h4>
                        <p class="reviews__list-text">Спасибо за лечение! Особая благодарность коордиологу Иванову К.Н.</p>
                    </div>
                    <p class="reviews__list-date">15.07.21</p>
                </div>

                <div class="reviews__list-item">
                    <img class="reviews__list-img" src="../../../../assets/pics/user001.png" alt="">
                    <div class="reviews__list-info">
                        <h4 class="reviews__list-name">Виктория Л.</h4>
                        <p class="reviews__list-text">Спасибо за лечение! Особая благодарность коордиологу Иванову К.Н.</p>
                    </div>
                    <p class="reviews__list-date">15.07.21</p>
                </div>

            </div>

        </div>
    </div>
</div>