<div class="account">
  <div class="account__wrapper">
    <h2 class="profile-title">Анкетирование</h2>

    <div class="questioning__wrapper">
      <div class="questioning__inner">
        <div class="questioning__item questioning__item-long">
          <p class="questioning__item-title">Фамилия</p>
          <input class="questioning__item-input" type="text">
        </div>

        <div class="questioning__item questioning__item-long">
          <p class="questioning__item-title">Имя</p>
          <input class="questioning__item-input" type="text">
        </div>

        <div class="questioning__item questioning__item-long">
          <p class="questioning__item-title">Отчество</p>
          <input class="questioning__item-input" type="text">
        </div>

        <div class="questioning__item questioning__item-medium">
          <p class="questioning__item-title">Возраст, лет</p>
          <input class="questioning__item-input" type="number">
        </div>

        <div class="questioning__item questioning__item-medium">
          <p class="questioning__item-title">СНИЛС</p>
          <input class="questioning__item-input" type="number">
        </div>

        <div class="questioning__item questioning__item-medium">
          <p class="questioning__item-title">Курение, лет</p>
          <input class="questioning__item-input questioning__item-short" type="number">
        </div>

        <div class="questioning__item">
          <p class="questioning__item-title">Количество выкуриваемых сигарет</p>
          <input class="questioning__item-input questioning__item-short" type="number">
        </div>

        <div class="questioning__item questioning__item-medium">
          <p class="questioning__item-title">Индекс курения</p>
          <input class="questioning__item-input questioning__item-short" type="number">
        </div>

        <div class="questioning__item questioning__item-medium">
          <p class="questioning__item-title">Рост, см</p>
          <input class="questioning__item-input" type="number">
        </div>

        <div class="questioning__item questioning__item-medium">
          <p class="questioning__item-title">Вес, кг</p>
          <input class="questioning__item-input" type="number">
        </div>

        <div class="questioning__item questioning__item-medium">
          <p class="questioning__item-title">ИМТ</p>
          <input class="questioning__item-input" type="number">
        </div>
      </div>

      <a class="questioning__link" [routerLink]="['','online-appointment-patient','online-step-tree']" routerLinkActive="active">Подтвердить</a>
    </div>

  </div>
</div>
