* {
  font-family: Noto Sans;
}

.profile-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #696D94;
  width: 500px;
  height: 49px;
  background: #9FE5E9;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
  margin-bottom: 40px;
}

.questioning__wrapper {
  max-width: 900px;
  background: #D7F2F3;
  border-radius: 15px;
  padding: 25px 50px;
  width: 100%
}

.questioning__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 47px;
}

.questioning__item {
  width: auto;
  margin-right: 20px;
  margin-bottom: 22px;
}

.questioning__item-long {
  width: 45%;
}

.questioning__item-medium {
  width: 23%;
}

.questioning__item-short {
  width: 20% !important;
}

.questioning__item-title {
  font-family: Noto Sans;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #383636;
  margin-bottom: 13px;
}

.questioning__item-input {
  width: 100%;
  height: 32px;
  background: #FFFFFF;
  border: 2px solid #3CB3BB;
  border-radius: 10px;
  padding: 5px;
}

.questioning__link {
  width: 267px;
  height: 42px;
  background: #3CB3BB;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 4px 10px;
  font-family: Noto Sans;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  color: #FFFFFF !important;
}
