<div class="account">
  <div class="account__wrapper">
    <h2 class="profile-title">Учетная запись</h2>
    <div class="profil__top">
      <div class="profile__user">
        <img class="profile__user-img" src="../../../../assets/pics/user.png" alt="">
        <a class="profile__user-download" href="">Загрузить фотографию</a>
      </div>

      <div class="profile__info">
        <h3 class="profile__user-name">{{patient.user.patient.last_name}} {{patient.user.patient.first_name}} {{patient.user.patient.patronymic}}</h3>

        <p class="profile__user-text profile__user-link">
                    <span class="profile__user-title">
                        Статус:
                    </span> пациент 
                   
          <img class="profile__user-status-img" src="../../../../assets/pics/status-patient.png" alt="">
        </p>
        <p class="profile__user-text">
                    <span class="profile__user-title">
                        Id:
                    </span> {{patient.user.user.id}}
        </p>

        <p class="profile__user-text">
                    <span *ngIf="patient.user.patient.sex === true" class="profile__user-title">
                        Пол:  мужчина
                    </span> 
                    <span *ngIf="patient.user.patient.sex === false" class="profile__user-title">
                        Пол:  женщина
                    </span> 
        </p>
      </div>
    </div>
    <div class="profile__main">
      <div class="profile__main-item">
          <p class="profile__main-title">Инвалидность</p>
          <p class="profile__main-text">отсутствует</p>
      </div>
  
      <div class="profile__main-item">
          <p class="profile__main-title">Хронические заболевания</p>
          <p class="profile__main-text">диабет, бронхит</p>
      </div>
  
      <div class="profile__main-item">
          <p class="profile__main-title">Аллергия</p>
          <p class="profile__main-title-mini">Пищевая аллергия:</p>
          <p class="profile__main-text">на белок</p>
          <p class="profile__main-title-mini">Лекарственная аллергия:</p>
          <p class="profile__main-text">на пенициллины (Амоксициллин, Оксациллин) </p>
      </div>
  
      <h3 class="profile-text">Дополнительные характеристики</h3>
  
      <div class="profile__main-item">
          <p class="profile__main-title">Курение</p>
          <p class="profile__main-text">курит 5 лет</p>
      </div>
  
      <div class="profile__main-item">
          <p class="profile__main-title">Количество выкуриваемых сигарет</p>
          <p class="profile__main-text">6 сигарет в день</p>
      </div>
  
      <div class="profile__main-item">
          <p class="profile__main-title">Употребление алкоголя</p>
          <p class="profile__main-text">не употребляет алкоголь</p>
      </div>
  </div>
  <div class="profile__main-item">
      <p class="profile__main-title">Лекарственные препараты</p>
  <div class="archive__wrapper">
      <div class="archive__table">
          <div class="archive__table-top">
              <p class="archive__table-title">Лекарственный препарат</p>
              <p class="archive__table-title">Когда начал принимать</p>
              <p class="archive__table-title">Когда перестал принимать</p>
              <p class="archive__table-title">Сколько раз в день принимает</p>
          </div>
  
          <div class="archive__table-item">
              <p class="archive__table-text">Рыбий жир "Витатека"</p>
              <p class="archive__table-text">15.05.2021</p>
              <p class="archive__table-text">-</p>
              <p class="archive__table-text">3 раза, во время еды</p>
          </div>
  
          <div class="archive__table-item">
              <p class="archive__table-text">Омега-3 Кальций с витамином K2 и D3 </p>
              <p class="archive__table-text">10.04.2021</p>
              <p class="archive__table-text">22.04.2021</p>
              <p class="archive__table-text">2 раза, во время еды</p>
          </div>
      </div>
    
    </div>
    <a href="" class="profile__user-edit">Редактировать профиль</a>
  </div>
</div>
