<p class="vaccination-form__list-text">
    Для Вашего удобства и сокращения времени пребывания в поликлинике при прохождении вакцинации Вы можете заранее скачать бланк анкеты и согласия, распечатать, заполнить и принести с собой в день обращения:
</p>

<a class="vaccination-form__list-download-link" href="">
    Анкета пациента
</a>
<a class="vaccination-form__list-download-link" href="">
    Добровольное информированное согласие
</a>

<hr>

<p class="vaccination-form__list-text">
    Так же, Вы можете заполнить анкету онлайн:
</p>

<a class="vaccination-form__list-btn" [routerLink]="['', 'profile','covid','vaccination', 'vaccination-step-one']" routerLinkActive="active">Анкета</a>