<div class="container">
    <div class="medmap">
        <div class="medmap__analyzes">
            <h2 class="medmap__analyzes-title">Перечень анализов:</h2>
            <ul class="medmap__analyzes-list">
                <li class="medmap__analyzes-item-title">
                    <div class="medmap__analyzes-item-name">
                        <h3 class="medmap__analyzes-item-text">Наименование:</h3>
                    </div>
                    <div class="medmap__analyzes-item-doctor">
                        <h3 class="medmap__analyzes-item-text">Врач:</h3>
                    </div>
                    <div class="medmap__analyzes-item-date">
                        <h3 class="medmap__analyzes-item-text">Дата сдачи:</h3>
                    </div>
                    <div class="medmap__analyzes-item-instruction">
                        <h3 class="medmap__analyzes-item-text">Итоговый результат:</h3>
                    </div>
                </li>
                <li class="medmap__analyzes-item">
                    <div class="medmap__analyzes-item-name">
                        <h3 class="medmap__analyzes-item-text">Общий анализ крови</h3>
                    </div>
                    <div class="medmap__analyzes-item-doctor">
                        <a class="medmap__analyzes-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__analyzes-item-date">
                        <h3 class="medmap__analyzes-item-text">До 22.10.2022</h3>
                    </div>
                    <div class="medmap__analyzes-item-instruction">
                        <a class="medmap__analyzes-item-link" href="#">Подробнее</a>
                    </div>
                </li>
                <li class="medmap__analyzes-item">
                    <div class="medmap__analyzes-item-name">
                        <h3 class="medmap__analyzes-item-text">Томография</h3>
                    </div>
                    <div class="medmap__analyzes-item-doctor">
                        <a class="medmap__analyzes-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__analyzes-item-date">
                        <h3 class="medmap__analyzes-item-text">До 22.10.2022</h3>
                    </div>
                    <div class="medmap__analyzes-item-instruction">
                        <a class="medmap__analyzes-item-link" href="#">Подробнее</a>
                    </div>
                </li>
                <li class="medmap__analyzes-item">
                    <div class="medmap__analyzes-item-name">
                        <h3 class="medmap__analyzes-item-text">Функциональные тесты</h3>
                    </div>
                    <div class="medmap__analyzes-item-doctor">
                        <a class="medmap__analyzes-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__analyzes-item-date">
                        <h3 class="medmap__analyzes-item-text">До 22.10.2022</h3>
                    </div>
                    <div class="medmap__analyzes-item-instruction">
                        <a class="medmap__analyzes-item-link" href="#">Подробнее</a>
                    </div>
                </li>
                <li class="medmap__analyzes-item">
                    <div class="medmap__analyzes-item-name">
                        <h3 class="medmap__analyzes-item-text">Биопсия</h3>
                    </div>
                    <div class="medmap__analyzes-item-doctor">
                        <a class="medmap__analyzes-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__analyzes-item-date">
                        <h3 class="medmap__analyzes-item-text">До 22.10.2022</h3>
                    </div>
                    <div class="medmap__analyzes-item-instruction">
                        <a class="medmap__analyzes-item-link" href="#">Подробнее</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>