<div class="clinic">

    <div class="clinic__wrapper">
        <h1 class="clinic-title">Режим работы</h1>

        <div class="mode__schedule">
            <h2 class="mode-title">График работы поликлиники:</h2>
            <div class="mode__list">
                <p class="mode__list-item">
                    <span class="mode__list-title">Понедельник – Пятница: </span>с 7:00 до 19:00;
                </p>
                <p class="mode__list-item">
                    <span class="mode__list-title">Cуббота:  </span>с 9:00 до 18:00;
                </p>
                <p class="mode__list-item">
                    <span class="mode__list-title">Воскресные и праздничные дни: </span>с 9:00 до 16:00;
                </p>
            </div>
        </div>

        <div class="mode__appointment">
            <h2 class="mode-title">Расписание приема врачей:</h2>

            <div class="mode__appointment-search">
                <div class="mode__appointment-search-doctor">Врач</div>
                <div class="mode__appointment-search-post">Должность</div>
            </div>

            <div class="appointment__table">
                <div class="appointment__table-titlelist">

                    <h3 class="appointment__table-title">Должность</h3>
                    <h3 class="appointment__table-title">Кабинет</h3>
                    <h3 class="appointment__table-title">Ф.И.О.</h3>

                    <h3 class="appointment__table-title">Пн.</h3>
                    <h3 class="appointment__table-title">Вт.</h3>
                    <h3 class="appointment__table-title">Ср.</h3>
                    <h3 class="appointment__table-title">Чт.</h3>
                    <h3 class="appointment__table-title">Пт.</h3>
                </div>

                <div class="appointment__table-doctorlist">

                    <div class="appointment__table-item">
                        <p class="appointment__table-doctor">Заведующая терапевтическим отделением</p>
                        <p class="appointment__table-doctor">305</p>
                        <a class="appointment__table-doctor appointment__table-item-line" href="#">Фролова Н.В.</a>
                    </div>

                    <div class="appointment__table-item">
                        <p class="appointment__table-doctor">08 - 16
                            <br> Пн
                        </p>
                        <p class="appointment__table-doctor">08 - 16
                            <br> Вт
                        </p>
                        <p class="appointment__table-doctor">08 - 16
                            <br> Ср
                        </p>
                        <p class="appointment__table-doctor">08 - 16
                            <br> Чт
                        </p>
                        <p class="appointment__table-doctor">08 - 16
                            <br> Пт
                        </p>
                    </div>
                </div>

                <div class="appointment__table-doctorlist">

                    <div class="appointment__table-item">
                        <p class="appointment__table-doctor">Врач-терапевт участковый</p>
                        <p class="appointment__table-doctor">305</p>
                        <a class="appointment__table-doctor appointment__table-item-line" href="#">Егорова А.Б.</a>
                    </div>

                    <div class="appointment__table-item">
                        <p class="appointment__table-doctor">7:30 - 13:30
                            <br> Пн
                        </p>
                        <p class="appointment__table-doctor">13:30 - 19:30
                            <br> Вт
                        </p>
                        <p class="appointment__table-doctor">08 - 16
                            <br> Ср
                        </p>
                        <p class="appointment__table-doctor">08 - 16
                            <br> Чт
                        </p>
                        <p class="appointment__table-doctor">08 - 16
                            <br> Пт
                        </p>
                    </div>
                </div>
            </div>

            <a class="mode__appointment-link" href="#">Записаться на приём</a>
        </div>
    </div>
</div>