<div class="medmap">
    <div class="medmap__hospitals">
        <h2 class="medmap__hospitals-title">Перечень больничных:</h2>
        <ul class="medmap__hospitals-list">
            <li class="medmap__hospitals-item-title">
                <div class="medmap__hospitals-item-name">
                    <h3 class="medmap__hospitals-item-text">Наименование:</h3>
                </div>
                <div class="medmap__hospitals-item-doctor">
                    <h3 class="medmap__hospitals-item-text">Врач:</h3>
                </div>
                <div class="medmap__hospitals-item-date">
                    <h3 class="medmap__hospitals-item-text">Дата получения:</h3>
                </div>
                <div class="medmap__hospitals-item-instruction">
                    <h3 class="medmap__hospitals-item-text">Повторный приём:</h3>
                </div>
            </li>
            <li class="medmap__hospitals-item">
                <div class="medmap__hospitals-item-name">
                    <h3 class="medmap__hospitals-item-text">Грипп</h3>
                </div>
                <div class="medmap__hospitals-item-doctor">
                    <a class="medmap__hospitals-item-link" href="#">Афанасий В.Ю.</a>
                </div>
                <div class="medmap__hospitals-item-date">
                    <h3 class="medmap__hospitals-item-text">22.10.2021</h3>
                </div>
                <div class="medmap__hospitals-item-instruction">
                    <a class="medmap__hospitals-item-link" href="#">Подробнее</a>
                </div>
            </li>
            <li class="medmap__hospitals-item">
                <div class="medmap__hospitals-item-name">
                    <h3 class="medmap__hospitals-item-text">Оспа</h3>
                </div>
                <div class="medmap__hospitals-item-doctor">
                    <a class="medmap__hospitals-item-link" href="#">Афанасий В.Ю.</a>
                </div>
                <div class="medmap__hospitals-item-date">
                    <h3 class="medmap__hospitals-item-text">12.03.2011</h3>
                </div>
                <div class="medmap__hospitals-item-instruction">
                    <a class="medmap__hospitals-item-link" href="#">Подробнее</a>
                </div>
            </li>
            <li class="medmap__hospitals-item">
                <div class="medmap__hospitals-item-name">
                    <h3 class="medmap__hospitals-item-text">Грипп</h3>
                </div>
                <div class="medmap__hospitals-item-doctor">
                    <a class="medmap__hospitals-item-link" href="#">Афанасий В.Ю.</a>
                </div>
                <div class="medmap__hospitals-item-date">
                    <h3 class="medmap__hospitals-item-text">10.09.2018</h3>
                </div>
                <div class="medmap__hospitals-item-instruction">
                    <a class="medmap__hospitals-item-link" href="#">Подробнее</a>
                </div>
            </li>
            <li class="medmap__hospitals-item">
                <div class="medmap__hospitals-item-name">
                    <h3 class="medmap__hospitals-item-text">Сломал ногу</h3>
                </div>
                <div class="medmap__hospitals-item-doctor">
                    <a class="medmap__hospitals-item-link" href="#">Афанасий В.Ю.</a>
                </div>
                <div class="medmap__hospitals-item-date">
                    <h3 class="medmap__hospitals-item-text">03.11.2020</h3>
                </div>
                <div class="medmap__hospitals-item-instruction">
                    <a class="medmap__hospitals-item-link" href="#">Подробнее</a>
                </div>
            </li>
        </ul>
    </div>
</div>