<div class="clinic">

    <div class="clinic__wrapper">
        <h1 class="clinic-title">Вызов врача на дом</h1>

        <div class="info__attachment">
            <p class="info__attachment-text">
                Обращаем Ваше внимание, что вызовы принимаются с адресов, закрепленных за поликлиникой по территориально-участковому принципу. Адрес прикрепления можно уточнить по ссылке:
                <a class="info__attachment-link" href="#">
                    «Перечень поликлинических участков»
                </a>.
                <br>Если вы не закреплены, подайте заявление.
            </p>
        </div>

        <a class="attachment-link" href="">Прикрепиться</a>

        <div class="info__call">
            <p class="info__call-text">
                Для вызова на дом необходимо заполнить все строки заявки. Оператор информирует Вас о принятии вызова в работу. Во избежание технических проблем, зависящих от работы сайта, при отсутствии обратной связи в течение 60 мин., повторите вызов по телефону колл-центра
                <a class="info__call-phone" href="tel:2601414">
                    260-14-14
                </a>.
                <br> <br>Вызов на дом через сайт возможен все дни недели,
                <span class="info__call-bold"> с 07.00 до 20.00</span>
            </p>
        </div>

        <form action="" class="house-call__form">
            <p class="house-call__form-title">АДРЕС МЕСТА НАХОЖДЕНИЯ*</p>
            <input class="house-call__form-input" type="text">

            <p class="house-call__form-title">Подьезд:</p>
            <input class="house-call__form-input" type="text">

            <p class="house-call__form-title">Код домофона:</p>
            <input class="house-call__form-input" type="text">

            <p class="house-call__form-title">Этаж:</p>
            <input class="house-call__form-input" type="text">

            <p class="house-call__form-title">Причина вызова:*</p>
            <input class="house-call__form-input" type="text">

            <p class="house-call__form-title">Сообщение:</p>
            <input class="house-call__form-input" type="text">

            <div class="house-call__form-agreement">
                <input class="house-call__form-agreement-input" type="checkbox" name="" id="">
                <p class="house-call__form-agreement-text">
                    ПРОСТАВЛЯЯ СВОЕ СОГЛАСИЕ, Я В ЦЕЛЯХ ОКАЗАНИЯ МНЕ МЕДИЦИНСКОЙ ПОМОЩИ СОГЛАШАЮСЬ С ОБРАБОТКОЙ МОИХ ПЕРСОНАЛЬНЫХ ДАННЫХ (ФИО, АДРЕС, ИНЫЕ ПРЕДОСТАВЛЕННЫЕ МНОЙ ДАННЫЕ), РАБОТНИКАМИ ГБУЗ НО «ГОРОДСКАЯ ПОЛИКЛИНИКА №4»
                </p>
            </div>

            <button class="house-call__form-btn" type="submit">Готово</button>
        </form>

    </div>
</div>