<div class="medmap">
    <div class="medmap__vaccination">
        <h2 class="medmap__vaccination-title">Перечень прививок:</h2>
        <ul class="medmap__vaccination-list">
            <li class="medmap__vaccination-item-title">
                <div class="medmap__vaccination-item-name">
                    <h3 class="medmap__vaccination-item-text">Наименование:</h3>
                </div>
                <div class="medmap__vaccination-item-doctor">
                    <h3 class="medmap__vaccination-item-text">Врач:</h3>
                </div>
                <div class="medmap__vaccination-item-date">
                    <h3 class="medmap__vaccination-item-text">Дата прививания:</h3>
                </div>
                <div class="medmap__vaccination-item-instruction">
                    <h3 class="medmap__vaccination-item-text">Повторный приём:</h3>
                </div>
            </li>
            <li class="medmap__vaccination-item">
                <div class="medmap__vaccination-item-name">
                    <h3 class="medmap__vaccination-item-text">Ветряная оспа</h3>
                </div>
                <div class="medmap__vaccination-item-doctor">
                    <a class="medmap__vaccination-item-link" href="#">Афанасий В.Ю.</a>
                </div>
                <div class="medmap__vaccination-item-date">
                    <h3 class="medmap__vaccination-item-text">22.10.2021</h3>
                </div>
                <div class="medmap__vaccination-item-instruction">
                    <h3 class="medmap__vaccination-item-text">-</h3>
                </div>
            </li>
            <li class="medmap__vaccination-item">
                <div class="medmap__vaccination-item-name">
                    <h3 class="medmap__vaccination-item-text">Столбняк</h3>
                </div>
                <div class="medmap__vaccination-item-doctor">
                    <a class="medmap__vaccination-item-link" href="#">Афанасий В.Ю.</a>
                </div>
                <div class="medmap__vaccination-item-date">
                    <h3 class="medmap__vaccination-item-text">12.03.2011</h3>
                </div>
                <div class="medmap__vaccination-item-instruction">
                    <h3 class="medmap__vaccination-item-text">12.03.2021</h3>
                </div>
            </li>
            <li class="medmap__vaccination-item">
                <div class="medmap__vaccination-item-name">
                    <h3 class="medmap__vaccination-item-text">HPV</h3>
                </div>
                <div class="medmap__vaccination-item-doctor">
                    <a class="medmap__vaccination-item-link" href="#">Афанасий В.Ю.</a>
                </div>
                <div class="medmap__vaccination-item-date">
                    <h3 class="medmap__vaccination-item-text">10.09.2018</h3>
                </div>
                <div class="medmap__vaccination-item-instruction">
                    <h3 class="medmap__vaccination-item-text">-</h3>
                </div>
            </li>
            <li class="medmap__vaccination-item">
                <div class="medmap__vaccination-item-name">
                    <h3 class="medmap__vaccination-item-text">Грипп</h3>
                </div>
                <div class="medmap__vaccination-item-doctor">
                    <a class="medmap__vaccination-item-link" href="#">Афанасий В.Ю.</a>
                </div>
                <div class="medmap__vaccination-item-date">
                    <h3 class="medmap__vaccination-item-text">03.11.2020</h3>
                </div>
                <div class="medmap__vaccination-item-instruction">
                    <h3 class="medmap__vaccination-item-text">03.11.2021</h3>
                </div>
            </li>
        </ul>
    </div>
</div>