<div class="main__info">
    <div class="container">
        <div class="news__wrapper">
            <h2 class="news__title">Новости</h2>

            <div class="news__search">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> 
                    <img class="form__search-img" src="./../../../assets/pics/search.svg" alt="">
                </button>
                </form>
            </div>

            <!-- dropdown -->
            <div class="news-list">
                <div class="news-list-item">
                    <div class="news--title">
                        <h3 class="news__title-text">
                            <a class="consultetion__title-link" href="#">По дате публикации:</a>
                        </h3>
                        <img class="news__title-img" (click)="openSpecialization()" src="./../../../assets/pics/arrow-mini.svg" alt="">
                    </div>
                    <ul class="news__dropdown">
                        <li *ngIf="dropdown_flag" class="news__dropdown-item">
                            <a class="consultetion__title-link" href="#">Новые</a>
                        </li>
                        <li *ngIf="dropdown_flag" class="news__dropdown-item">
                            <a class="consultetion__title-link" href="#">Новые</a>
                        </li>
                        <li *ngIf="dropdown_flag" class="news__dropdown-item">
                            <a class="consultetion__title-link" href="#">Новые</a>
                        </li>
                    </ul>
                </div>

                <div class="news-list-item">
                    <div class="news--title">
                        <h3 class="news__title-text">
                            <a class="consultetion__title-link" href="#">По категории:</a>
                        </h3>
                        <img class="news__title-img" (click)="openSpecialization()" src="./../../../assets/pics/arrow-mini.svg" alt="">
                    </div>
                    <ul class="news__dropdown">
                        <li *ngIf="dropdown_flag" class="news__dropdown-item">
                            <a class="consultetion__title-link" href="#">COVID-19</a>
                        </li>
                        <li *ngIf="dropdown_flag" class="news__dropdown-item">
                            <a class="consultetion__title-link" href="#">COVID-19</a>
                        </li>
                        <li *ngIf="dropdown_flag" class="news__dropdown-item">
                            <a class="consultetion__title-link" href="#">COVID-19</a>
                        </li>
                    </ul>
                </div>

                <div class="news-list-item">
                    <div class="news--title">
                        <h3 class="news__title-text">
                            <a class="consultetion__title-link" href="#">По автору публикации:</a>
                        </h3>
                        <img class="news__title-img" (click)="openSpecialization()" src="./../../../assets/pics/arrow-mini.svg" alt="">
                    </div>
                    <ul class="news__dropdown">
                        <li *ngIf="dropdown_flag" class="news__dropdown-item">
                            <a class="consultetion__title-link" href="#">Поликлиника №4</a>
                        </li>
                        <li *ngIf="dropdown_flag" class="news__dropdown-item">
                            <a class="consultetion__title-link" href="#">Поликлиника №4</a>
                        </li>
                        <li *ngIf="dropdown_flag" class="news__dropdown-item">
                            <a class="consultetion__title-link" href="#">Поликлиника №4</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="news__item">
                <div class="news__item-image">
                    <img class="news__item-img" src="../../../assets/pics/main-news/news-1.png" alt="">
                    <p class="news__item-bcs">Категории:
                        <a class="news__item-bcs-title" href="#">COVID-19</a>
                        <a class="news__item-bcs-title" href="#">Российские учёные</a>
                        <a class="news__item-bcs-title" href="#">Наука</a>
                        <a class="news__item-bcs-title" href="#">Прорывные технологии</a>
                    </p>
                </div>

                <div class="news__item-info">
                    <a class="news__item-title" [routerLink]="['', 'main-new']" routerLinkActive="active">
                        Как российский интерфейс «мозг — компьютер» поможет восстановлению пациентов после COVID-19
                    </a>
                    <p class="news__item-text">Российские исследователи разработали методику реабилитации.</p>
                    <div class="news__item-footer">
                        <p class="news__item-source">Источник: Поликлиника №4</p>
                        <p class="news__item-source">02.07.2021</p>
                    </div>
                </div>
            </div>

            <div class="news__item">
                <div class="news__item-image">
                    <img class="news__item-img" src="../../../assets/pics/main-news/news-2.png" alt="">
                    <p class="news__item-bcs">Категории:
                        <a class="news__item-bcs-title" href="#">COVID-19</a>
                        <a class="news__item-bcs-title" href="#">Вирусы</a>
                        <a class="news__item-bcs-title" href="#">Наука</a>
                        <a class="news__item-bcs-title" href="#">Заболевания</a>
                    </p>
                </div>

                <div class="news__item-info">
                    <a class="news__item-title" [routerLink]="['', 'main-new']" routerLinkActive="active">
                        В Индии обнаружен смертельно опасный для человека вирус
                    </a>
                    <p class="news__item-text">
                        Учёные из Национального института вирусологии Индии впервые обнаружили вирус Нипах у летучих мышей в штате Махараштра.
                    </p>
                    <div class="news__item-footer">
                        <p class="news__item-source">Источник: Поликлиника №7</p>
                        <p class="news__item-source">27.06.2021</p>
                    </div>
                </div>
            </div>

            <div class="news__item">
                <div class="news__item-image">
                    <img class="news__item-img" src="../../../assets/pics/main-news/news-1.png" alt="">
                    <p class="news__item-bcs">Категории:
                        <a class="news__item-bcs-title" href="#">COVID-19</a>
                        <a class="news__item-bcs-title" href="#">Российские учёные</a>
                        <a class="news__item-bcs-title" href="#">Наука</a>
                        <a class="news__item-bcs-title" href="#">Прорывные технологии</a>
                    </p>
                </div>

                <div class="news__item-info">
                    <a class="news__item-title" [routerLink]="['', 'main-new']" routerLinkActive="active">
                        Как российский интерфейс «мозг — компьютер» поможет восстановлению пациентов после COVID-19
                    </a>
                    <p class="news__item-text">Российские исследователи разработали методику реабилитации.</p>
                    <div class="news__item-footer">
                        <p class="news__item-source">Источник: Поликлиника №4</p>
                        <p class="news__item-source">02.07.2021</p>
                    </div>
                </div>
            </div>

            <div class="news__item">
                <div class="news__item-image">
                    <img class="news__item-img" src="../../../assets/pics/main-news/news-2.png" alt="">
                    <p class="news__item-bcs">Категории:
                        <a class="news__item-bcs-title" href="#">COVID-19</a>
                        <a class="news__item-bcs-title" href="#">Вирусы</a>
                        <a class="news__item-bcs-title" href="#">Наука</a>
                        <a class="news__item-bcs-title" href="#">Заболевания</a>
                    </p>
                </div>

                <div class="news__item-info">
                    <a class="news__item-title" [routerLink]="['', 'main-new']" routerLinkActive="active">
                        В Индии обнаружен смертельно опасный для человека вирус
                    </a>
                    <p class="news__item-text">
                        Учёные из Национального института вирусологии Индии впервые обнаружили вирус Нипах у летучих мышей в штате Махараштра.
                    </p>
                    <div class="news__item-footer">
                        <p class="news__item-source">Источник: Поликлиника №7</p>
                        <p class="news__item-source">27.06.2021</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>