<div class="container">
    <div class="medmap">

        <div class="medmap__wrapper">
            <div class="medmap__mymap">
                <h2 class="medmap__mymap-title">МЕД КАРТА больного №12</h2>
                <ul class="medmap__mymap-list">
                    <li class="medmap__mymap-item">
                        <h4 class="medmap__mymap-param">Фамилия, имя, отчество: </h4>
                        <p class="medmap__mymap-text">Абдельматлиб Илжир Балимович.</p>
                    </li>
                    <li class="medmap__mymap-item">
                        <h4 class="medmap__mymap-param">Пол:</h4>
                        <p class="medmap__mymap-text">Мужской.</p>
                    </li>
                    <li class="medmap__mymap-item">
                        <h4 class="medmap__mymap-param">Дата рождения:</h4>
                        <p class="medmap__mymap-text">27.03.1999</p>
                    </li>
                    <li class="medmap__mymap-item">
                        <h4 class="medmap__mymap-param">Телефон: домашний </h4>
                        <p class="medmap__mymap-text">89202988129 </p>
                        <h4 class="medmap__mymap-param"> служебный </h4>
                        <p class="medmap__mymap-text">89202999129</p>
                    </li>
                    <li class="medmap__mymap-item">
                        <h4 class="medmap__mymap-param">Адрес пациента:</h4>
                        <p class="medmap__mymap-text">область Нижегородская (населённый пункт) Нижний Новгород район Советский (улица, переулок) Пушкина дом № 34 (корпус) 2 (кв.№) 2А </p>
                    </li>
                    <li class="medmap__mymap-item">
                        <h4 class="medmap__mymap-param">Место работы:</h4>
                        <p class="medmap__mymap-text">Главный офис РосАтома, отдел продаж</p>
                    </li>
                    <li class="medmap__mymap-item">
                        <h4 class="medmap__mymap-param">Профессия, должность:</h4>
                        <p class="medmap__mymap-text">зам главы отдела продаж</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>