* {
    font-family: Noto Sans;
}

.profile-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #696d94;
    width: 500px;
    height: 49px;
    background: #9fe5e9;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    margin-bottom: 40px;
}

.archive__wrapper {
    width: 90%;
    background: #e3f6f7;
    border-radius: 10px;
    padding: 17px;
    margin: 0 auto 100px;
}

.archive__table-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 33px;
    margin-bottom: 16px;
}

.archive__table-title {
    width: 16%;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
}

.archive__table-item {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    width: 100%;
    padding: 9px 33px;
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.archive__table-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    width: 16%;
}

.archive__table-link {
    text-decoration-line: underline;
    color: #3cb3bb !important;
}
