<div class="account">
    <div class="account__wrapper">
        <h2 class="profile-title">Мои записи</h2>

        <div class="archive__wrapper">
            <div class="archive__table">
                <div class="archive__table-top">
                    <p class="archive__table-title"></p>
                    <p class="archive__table-title">Номер талона</p>
                    <p class="archive__table-title">Услуга</p>
                    <p class="archive__table-title">Клиника</p>
                    <p class="archive__table-title">Врач</p>
                    <p class="archive__table-title">Дата приема</p>
                </div>

                <div class="archive__table-item">
                    <a class="archive__table-text archive__table-link" [routerLink]="['','view-record']" routerLinkActive="active">Открыть</a>
                    <p class="archive__table-text">01-11-0101</p>
                    <p class="archive__table-text">Запись на вакцинацию</p>
                    <p class="archive__table-text">ЦРБ 4</p>
                    <p class="archive__table-text">Иванов Иван Сергеевич</p>
                    <p class="archive__table-text">12:56 19.09.21</p>
                </div>

                <div class="archive__table-item">
                    <a class="archive__table-text archive__table-link" [routerLink]="['','view-record']" routerLinkActive="active">Открыть</a>
                    <p class="archive__table-text">01- 100002</p>
                    <p class="archive__table-text">Запись на прием</p>
                    <p class="archive__table-text">ЦРБ 4</p>
                    <p class="archive__table-text">Иванов Иван Сергеевич</p>
                    <p class="archive__table-text">12:56 19.09.21</p>
                </div>
            </div>
        </div>
    </div>
</div>