<div class="medmap">
    <div class="medmap__discharge">
        <h2 class="medmap__discharge-title">Период пребывания</h2>
        <!-- для копирования брать div с классом medmap__discharge-window -->
        <div class="medmap__discharge-window">
            <hr>
            <h4 class="medmap__discharge-title-mini">Краткая справка:</h4>

            <div class="medmap__discharge-list">
                <div class="medmap__discharge-item">
                    <h4 class="medmap__discharge-item-title">Место пребывания:</h4>
                    <p class="medmap__discharge-item-text">Поликлиника №4</p>
                </div>
            </div>

            <div class="medmap__discharge-list">
                <div class="medmap__discharge-item medmap__discharge-item-one">
                    <h4 class="medmap__discharge-item-title">Прибыл:</h4>
                    <p class="medmap__discharge-item-text">11.04.2021</p>
                </div>
                <div class="medmap__discharge-item">
                    <h4 class="medmap__discharge-item-title">Отбыл:</h4>
                    <p class="medmap__discharge-item-text">20.05.2021</p>
                </div>
            </div>

            <div class="medmap__discharge-list">
                <div class="medmap__discharge-item">
                    <h4 class="medmap__discharge-item-title">Пройденные исследования:</h4>
                    <ul class="medmap__discharge__list">
                        <li class="medmap__discharge__item-title">
                            <div class="medmap__discharge__item-name">
                                <h3 class="medmap__discharge__item-text">Наименование:</h3>
                            </div>
                            <div class="medmap__discharge__item-doctor">
                                <h3 class="medmap__discharge__item-text">Врач:</h3>
                            </div>
                            <div class="medmap__discharge__item-date">
                                <h3 class="medmap__discharge__item-text">Дата исследования:</h3>
                            </div>
                            <div class="medmap__discharge__item-instruction">
                                <h3 class="medmap__discharge__item-text">Итоговый результат:</h3>
                            </div>
                        </li>
                        <li class="medmap__discharge__item">
                            <div class="medmap__discharge__item-name">
                                <h3 class="medmap__discharge__item-text">Флюрография</h3>
                            </div>
                            <div class="medmap__discharge__item-doctor">
                                <a class="medmap__discharge__item-link" href="#">Афанасий В.Ю.</a>
                            </div>
                            <div class="medmap__discharge__item-date">
                                <h3 class="medmap__discharge__item-text">22.10.2021</h3>
                            </div>
                            <div class="medmap__discharge__item-instruction">
                                <a class="medmap__discharge__item-link" href="#">Подробнее</a>
                            </div>
                        </li>
                        <li class="medmap__discharge__item">
                            <div class="medmap__discharge__item-name">
                                <h3 class="medmap__discharge__item-text">Флюрография</h3>
                            </div>
                            <div class="medmap__discharge__item-doctor">
                                <a class="medmap__discharge__item-link" href="#">Афанасий В.Ю.</a>
                            </div>
                            <div class="medmap__discharge__item-date">
                                <h3 class="medmap__discharge__item-text">22.10.2021</h3>
                            </div>
                            <div class="medmap__discharge__item-instruction">
                                <a class="medmap__discharge__item-link" href="#">Подробнее</a>
                            </div>
                        </li>
                        <li class="medmap__discharge__item">
                            <div class="medmap__discharge__item-name">
                                <h3 class="medmap__discharge__item-text">Флюрография</h3>
                            </div>
                            <div class="medmap__discharge__item-doctor">
                                <a class="medmap__discharge__item-link" href="#">Афанасий В.Ю.</a>
                            </div>
                            <div class="medmap__discharge__item-date">
                                <h3 class="medmap__discharge__item-text">22.10.2021</h3>
                            </div>
                            <div class="medmap__discharge__item-instruction">
                                <a class="medmap__discharge__item-link" href="#">Подробнее</a>
                            </div>
                        </li>
                        <li class="medmap__discharge__item">
                            <div class="medmap__discharge__item-name">
                                <h3 class="medmap__discharge__item-text">Флюрография</h3>
                            </div>
                            <div class="medmap__discharge__item-doctor">
                                <a class="medmap__discharge__item-link" href="#">Афанасий В.Ю.</a>
                            </div>
                            <div class="medmap__discharge__item-date">
                                <h3 class="medmap__discharge__item-text">22.10.2021</h3>
                            </div>
                            <div class="medmap__discharge__item-instruction">
                                <a class="medmap__discharge__item-link" href="#">Подробнее</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="medmap__discharge-list">
                <div class="medmap__discharge-item">
                    <h4 class="medmap__discharge-item-title">Консультации со специалистами:</h4>
                    <ul class="medmap__discharge__list">
                        <li class="medmap__discharge__item-title">
                            <div class="medmap__discharge__item-specialist">
                                <h3 class="medmap__discharge__item-text">Специалист:</h3>
                            </div>
                            <div class="medmap__discharge__item-date-con">
                                <h3 class="medmap__discharge__item-text">Дата консультации:</h3>
                            </div>
                            <div class="medmap__discharge__item-result">
                                <h3 class="medmap__discharge__item-text">Итоговый результат:</h3>
                            </div>
                        </li>
                        <li class="medmap__discharge__item">
                            <div class="medmap__discharge__item-specialist">
                                <h3 class="medmap__discharge__item-link" href="#">Афанасий В.Ю.</h3>
                            </div>
                            <div class="medmap__discharge__item-date-con">
                                <h3 class="medmap__discharge__item-text">15.04.2021</h3>
                            </div>
                            <div class="medmap__discharge__item-result">
                                <a class="medmap__discharge__item-link" href="#">Подробнее</a>
                            </div>
                        </li>
                        <li class="medmap__discharge__item">
                            <div class="medmap__discharge__item-specialist">
                                <h3 class="medmap__discharge__item-link" href="#">Афанасий В.Ю.</h3>
                            </div>
                            <div class="medmap__discharge__item-date-con">
                                <h3 class="medmap__discharge__item-text">21.04.2021</h3>
                            </div>
                            <div class="medmap__discharge__item-result">
                                <a class="medmap__discharge__item-link" href="#">Подробнее</a>
                            </div>
                        </li>
                        <li class="medmap__discharge__item">
                            <div class="medmap__discharge__item-specialist">
                                <h3 class="medmap__discharge__item-link" href="#">Афанасий В.Ю.</h3>
                            </div>
                            <div class="medmap__discharge__item-date-con">
                                <h3 class="medmap__discharge__item-text">10.05.2021</h3>
                            </div>
                            <div class="medmap__discharge__item-result">
                                <a class="medmap__discharge__item-link" href="#">Подробнее</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="medmap__discharge-list">
                <div class="medmap__discharge-item">
                    <h4 class="medmap__discharge-item-title">Оказанное лечение:</h4>
                    <ul class="medmap__discharge__list">
                        <li class="medmap__discharge__item-title">
                            <div class="medmap__discharge__item-specialist">
                                <h3 class="medmap__discharge__item-text">Лечащий врач:</h3>
                            </div>
                            <div class="medmap__discharge__item-date-con">
                                <h3 class="medmap__discharge__item-text">Период лечения:</h3>
                            </div>
                            <div class="medmap__discharge__item-result">
                                <h3 class="medmap__discharge__item-text">Итог лечения:</h3>
                            </div>
                        </li>
                        <li class="medmap__discharge__item">
                            <div class="medmap__discharge__item-specialist">
                                <h3 class="medmap__discharge__item-link" href="#">Афанасий В.Ю.</h3>
                            </div>
                            <div class="medmap__discharge__item-date-con">
                                <h3 class="medmap__discharge__item-text">11.04.2021-03.05.2021</h3>
                            </div>
                            <div class="medmap__discharge__item-result">
                                <a class="medmap__discharge__item-link" href="#">Подробнее</a>
                            </div>
                        </li>
                        <li class="medmap__discharge__item">
                            <div class="medmap__discharge__item-specialist">
                                <h3 class="medmap__discharge__item-link" href="#">Серёгин В.Ю.</h3>
                            </div>
                            <div class="medmap__discharge__item-date-con">
                                <h3 class="medmap__discharge__item-text">03.05.2021-20.05.2021</h3>
                            </div>
                            <div class="medmap__discharge__item-result">
                                <a class="medmap__discharge__item-link" href="#">Подробнее</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="medmap__discharge-list">
                <div class="medmap__discharge-item">
                    <h4 class="medmap__discharge-item-title">Данные рекомендации:</h4>
                    <p class="medmap__discharge-item-info">Не заниматься сильной физической нагрузкой. Пить по три стакана тёплого молока перед сном. Ничего не есть за три часа до сна. Делать лёгкую расстяжку перед сном. Не принимать алкогольную и табачную продукцию. </p>
                </div>
            </div>
        </div>

        <!-- нижняя полоска идет всегда, другие выписки вставлять перед ней -->
        <hr>
    </div>
</div>