<img class="progres-img" src="./../../../../assets/pics/questioning.png" alt="progress">

<div class="position">
  <a class="btn" [routerLink]="['','general-test']" routerLinkActive="active">
     Общесоматическая анкета
  </a>

</div>

<div class="position">
  <a class="btn" [routerLink]="['','specialized-questionnaire']" routerLinkActive="active">
   Специализированная анкета
  </a>

</div>

<div class="btnAll">
  <div class="nextK">
    <a  class="next"[routerLink]="['','recording', 'type-visit']" routerLinkActive="active">Назад</a>
  </div>
  <div class="nextK">
    <a class="next" [routerLink]="['','recording', 'appointment']" routerLinkActive="active">Далее</a>
  </div>
</div>




