<div class="account">
  <div class="account__wrapper">
    <h2 class="profile-title">Уведомление</h2>

    <div class="view__wrapper">
      <h3 class="view__title">Информация:</h3>
      <hr>
      <div class="view__item">
        <p class="view__item-title">Тип заявления:</p>
        <p class="view__item-value-color">Документы на сан-курортное лечение</p>
      </div>

      <div class="view__item">
        <p class="view__item-title">Дата:</p>
        <p class="view__item-value">12:56 19.08.21</p>
      </div>

      <div class="view__item">
        <p class="view__item-title">Код пользователя:</p>
        <p class="view__item-value">01-01-0823</p>
      </div>

      <div class="view__item">
        <p class="view__item-title">ФИО:</p>
        <p class="view__item-value">Иванов Иван Сергеевич</p>
      </div>

      <div class="view__item">
        <p class="view__item-title">Отправитель:</p>
        <p class="view__item-value">Павлова Анастасия Владимировна</p>
      </div>
      <hr>
    </div>
<br><br>
    <div class="view__wrapper">
      <h3 class="view__title">Санаторно-курортная карта</h3>
      <hr>
        <p class="view__item-notification">Ваша путевка подтверждена. Для получения санаторно-курортной карты вам нужно сдать следующие анализы и обследования:</p>
      <div class="view__item">
        <p class="view__item-not">- общий анализ крови</p>
      </div>
      <div class="view__item">
        <p class="view__item-not">- общий анализ мочи</p>
      </div>
      <div class="view__item">
        <p class="view__item-not">- электрокардиографическое исследование (ЭКГ) </p>
      </div>
      <div class="view__item">
        <p class="view__item-not">- рентгенологическое исследование грудной клетки (флюорография) </p>
      </div>
      <div class="view__qr-btns">
        <a class="view__qr-btn" href="#">Записаться на анализы и обследования</a>
      </div>
      <p class="view__item-post">После сдачи всех необходимых анализов вам нужно записаться к терапевту. Запись к врачу во вкладке “Мои записи”</p>
    </div>

  <br>
  <br>
  <div class="view__wrapper">
    <h3 class="view__title">Написать медсестре:</h3>
    <hr>
    <input class="input_text" placeholder="Ваш комментарий...">
    <div class="view__qr-btns">
      <a class="send-btn" href="#">Отправить</a>
    </div>
  </div>
  </div>
</div>


