<div class="clinic">
    <div class="clinic__wrapper">

        <div class="certificates__list">
            <a class="certificates__list-link" href="#">
                <img class="certificates__list-img" src="../../../../assets/pics/clinic.certificates/pool.png" alt="">
                <p class="certificates__list-text">
                    <span>Справка для бассейна</span>
                    <img class="certificates__list-text-img" src="../../../../assets/pics/clinic.certificates/pool-text.png" alt="">
                </p>
            </a>

            <a class="certificates__list-link" href="#">
                <img class="certificates__list-img" src="../../../../assets/pics/clinic.certificates/driving.png" alt="">
                <p class="certificates__list-text">
                    <span>Водительские справки</span>
                    <img class="certificates__list-text-img" src="../../../../assets/pics/clinic.certificates/driving-text.png" alt="">
                </p>
            </a>

            <a class="certificates__list-link" href="#">
                <img class="certificates__list-img" src="../../../../assets/pics/clinic.certificates/civil-service.png" alt="">
                <p class="certificates__list-text">
                    <span>Справки на государственную службу</span>
                    <img class="certificates__list-text-img" src="../../../../assets/pics/clinic.certificates/civil-service-text.png" alt="">
                </p>
            </a>

            <a class="certificates__list-link" href="#">
                <img class="certificates__list-img" src="../../../../assets/pics/clinic.certificates/education.png" alt="">
                <p class="certificates__list-text">
                    <span>Справки при поступлении в учебные учреждения</span>
                    <img class="certificates__list-text-img" src="../../../../assets/pics/clinic.certificates/education-text.png" alt="">
                </p>
            </a>

        </div>

    </div>
</div>