<div class="bread-crumbs">
    <div class="bread-crumbs__list">
        <div class="bread-crumbs__list-item">
            <a class="bread-crumbs__list-link" [routerLink]="['', 'profile','personal-area']" routerLinkActive="active">Профиль </a>
        </div>

        <div class="bread-crumbs__list-item">
            <a class="bread-crumbs__list-link" [routerLink]="['', 'profile','communication']" routerLinkActive="active">Общение</a>
        </div>

        <div class="bread-crumbs__list-item">
            <a class="bread-crumbs__list-link" [routerLink]="['', 'profile','receptions']" routerLinkActive="active">Приёмы</a>
        </div>

        <div class="bread-crumbs__list-item">
            <a class="bread-crumbs__list-link" [routerLink]="['', 'profile','medical-card','my-map']" routerLinkActive="active">Медкарта</a>
        </div>

        <div class="bread-crumbs__list-item">
            <a class="bread-crumbs__list-link" [routerLink]="['','profile', 'health-diary']" routerLinkActive="active">Дневник здоровья</a>
        </div>

        <div class="bread-crumbs__list-item">
            <a class="bread-crumbs__list-link" [routerLink]="['','profile', 'san-resort-card']" routerLinkActive="active">Сан-курортная карта</a>
        </div>

        <div class="bread-crumbs__list-item">
            <a class="bread-crumbs__list-link" [routerLink]="['', 'profile', 'covid', 'test-covid']" routerLinkActive="active">COVID-19</a>
        </div>

        <div class="bread-crumbs__list-item">
            <a class="bread-crumbs__list-link" [routerLink]="['','profile', 'notifications']" routerLinkActive="active">Уведомления</a>
        </div>

    </div>
</div>