<div class="main__info">
  <div class="container">
  <div class="medmap__wrapper">
    <h2 class="profile-title">Учетная запись</h2>
<div class="profile__top">
  <div class="patient__list-item">
    <img class="patient__list-img" src="../../../assets/drug-interaction/pics/profile.png" alt="">
    <p class="patient__list-name">Загрузить фотографию</p>
  </div>
  <div class="profile__top-info">
    <h2 class="profile__top-name">Петров Илья Иванович</h2>
    <p class="profile__top-text">
      <span class="profile__top-title">Статус: </span> <span class="profile__top-titletext">врач-терапевт</span>
      <img src="../../../assets/pics/doctor.png" alt="">
    </p>

    <p class="profile__top-text">
      <span class="profile__top-title">ID: </span>0101-0101
    </p>

    <p class="profile__top-text">
      <span class="profile__top-title">Пол: </span>мужчина
    </p>

  </div>
</div>

<div class="profile__main">
  <div class="profile__main-item">
    <p class="profile__main-title">Телефон:</p>
    <p class="profile__main-text"></p>
  </div>
  <div class="profile__main-item">
    <p class="profile__main-title">Почта:</p>
    <p class="profile__main-text"></p>
  </div>
  <div class="profile__main-item">
    <p class="profile__main-title">Дата рождения:</p>
    <p class="profile__main-text"></p>
  </div>
  <div class="profile__main-item">
    <p class="profile__main-title">Место работы:</p>
    <p class="profile__main-text"></p>
  </div>
  <div class="profile__edit-btn">
    <p class="profile__edit-btn-title">Редактировать профиль</p>
  </div>
</div>
  </div>
</div>
