<div class="covid__wrapper">
    <h2 class="covid__title">Тест на COVID-19</h2>

    <div class="test-covid__block">
        <!-- что-то с тестом -->
        <button class="test-covid__btn-already">ГОТОВО</button>
    </div>

    <div class="test-covid__res">
        <p class="test-covid__res-title">
            Результат:
            <span class="test-covid-res-text">
                есть вероятность заболевания. Вам необходимо сделать тест на COVID-19.
            </span>
        </p>
    </div>

    <a class="test-covid__link" href="#">ЗАПИСАТЬСЯ</a>
</div>