<div class="main__info">
    <div class="container">
        <div class="diagnosis__wrapper">
            <h1 class="record-title">Диспансеризация</h1>

            <div class="card-body diagnosis__examination-card">

                <div class="dropdown dropdown-mini">

                    <a class="btn btn-secondary dropdown-toggle diagnosis__examination-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Тип поликлиники:
                    </a>

                    <div class="dropdown-menu diagnosis__examination-dropdown-mini" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Общий (клинический) анализ крови развернутый</a>
                        <a class="dropdown-item" href="#">Исследование уровня эритроцитов в крови</a>
                        <a class="dropdown-item" href="#">Исследование уровня лейкоцитов в крови</a>
                    </div>
                </div>

                <div class="dropdown dropdown-mini">

                    <a class="btn btn-secondary dropdown-toggle diagnosis__examination-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Регион:
                    </a>

                    <div class="dropdown-menu diagnosis__examination-dropdown-mini" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Общий (клинический) анализ крови развернутый</a>
                        <a class="dropdown-item" href="#">Исследование уровня эритроцитов в крови</a>
                        <a class="dropdown-item" href="#">Исследование уровня лейкоцитов в крови</a>
                    </div>
                </div>

                <div class="dropdown dropdown-mini">

                    <a class="btn btn-secondary dropdown-toggle diagnosis__examination-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Населенный пункт:
                    </a>

                    <div class="dropdown-menu diagnosis__examination-dropdown-mini" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Общий (клинический) анализ крови развернутый</a>
                        <a class="dropdown-item" href="#">Исследование уровня эритроцитов в крови</a>
                        <a class="dropdown-item" href="#">Исследование уровня лейкоцитов в крови</a>
                    </div>
                </div>

                <div class="dropdown dropdown-mini">

                    <a class="btn btn-secondary dropdown-toggle diagnosis__examination-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Район:
                    </a>

                    <div class="dropdown-menu diagnosis__examination-dropdown-mini" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Общий (клинический) анализ крови развернутый</a>
                        <a class="dropdown-item" href="#">Исследование уровня эритроцитов в крови</a>
                        <a class="dropdown-item" href="#">Исследование уровня лейкоцитов в крови</a>
                    </div>
                </div>

                <div class="dropdown dropdown-mini">

                    <a class="btn btn-secondary dropdown-toggle diagnosis__examination-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Название учреждения:
                    </a>

                    <div class="dropdown-menu diagnosis__examination-dropdown-mini" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Общий (клинический) анализ крови развернутый</a>
                        <a class="dropdown-item" href="#">Исследование уровня эритроцитов в крови</a>
                        <a class="dropdown-item" href="#">Исследование уровня лейкоцитов в крови</a>
                    </div>
                </div>

                <div class="dropdown dropdown-mini">

                    <a class="btn btn-secondary dropdown-toggle diagnosis__examination-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Возраст:
                    </a>

                    <div class="dropdown-menu diagnosis__examination-dropdown-mini" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Общий (клинический) анализ крови развернутый</a>
                        <a class="dropdown-item" href="#">Исследование уровня эритроцитов в крови</a>
                        <a class="dropdown-item" href="#">Исследование уровня лейкоцитов в крови</a>
                    </div>
                </div>

                <div class="dropdown dropdown-mini">

                    <a class="btn btn-secondary dropdown-toggle diagnosis__examination-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Этап:
                    </a>

                    <div class="dropdown-menu diagnosis__examination-dropdown-mini" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Общий (клинический) анализ крови развернутый</a>
                        <a class="dropdown-item" href="#">Исследование уровня эритроцитов в крови</a>
                        <a class="dropdown-item" href="#">Исследование уровня лейкоцитов в крови</a>
                    </div>
                </div>
                <!--  -->
            </div>
            <div class="record__accordeon-btns">
                <a class="record__accordeon-btn" href="#">Применить</a>
                <a class="record__accordeon-btn" href="#">Очистить</a>
            </div>
            <!--  -->

            <p-accordion [multiple]="true">
                <p-accordionTab class="examination__list-item" header="Важная информация">
                    <p class="examination__list-text">
                        Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации
                        Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации
                    </p>
                </p-accordionTab>

                <p-accordionTab class="examination__list-item" header="Обследования для диспансеризации">
                    <p class="examination__list-text">
                        Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации
                        Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации Очень много полезной информации
                    </p>
                </p-accordionTab>

                <p-accordionTab class="examination__list-item" header="График проведения">
                    <p class="examination__list-title">ГРАФИК проведения диспансеризации:</p>
                    <p class="examination__list-text">Понедельник - Пятница: с 08:00 - 19:00</p>
                    <p class="examination__list-text">Каждая третья суббота месяца с 9:00 до 14:00 (В июне 2021г. четвертая суббота с 9:00 до 14:00)</p>
                </p-accordionTab>

                <p-accordionTab class="examination__list-item" header="Анкетирование">
                    <div class="examination__list-important-info">
                        <img class="examination__list-img" src="../../../assets/pics/important.png" alt="">
                        <p class="examination__list-text">
                            Пройдите анкетирование, направленное на выявление хронических неинфекционных заболеваний. Это сэкономит время не только Вас, но и врача. Вы можете как скачать анкету и заполнить ее ручкой, так и пройти анкетирование, скачав после заполненную анкету.
                        </p>
                    </div>
                    <a class="examination__link-worksheet" [routerLink]="['', 'worksheet']" routerLinkActive="active">Перейти к анкетированию</a>
                    <a href="#" class="examination__link-download">
                        <img src="../../../assets/pics/download.png" alt="">
                        <span>Скачать анкету</span>
                    </a>
                </p-accordionTab>

                <p-accordionTab class="examination__list-item" header="Запись">
                    <h3 class="record__main-title">Выберите дату прихода:</h3>
                    <p-calendar [firstDayOfWeek]="1" [(ngModel)]="value" dateFormat="dd.mm.yy"></p-calendar>

                    <div class="examination__examination-time">
                        <h4 class="examination__examination-time-title">Выберете время:</h4>

                        <div class="examination__examination-timelist">
                            <a class="examination__examination-timelist-item" href="#">08:30</a>
                            <a class="examination__examination-timelist-item" href="#">08:45</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                            <a class="examination__examination-timelist-item" href="#">08:30</a>
                            <a class="examination__examination-timelist-item" href="#">08:45</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                            <a class="examination__examination-timelist-item" href="#">08:30</a>
                            <a class="examination__examination-timelist-item" href="#">08:45</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                            <a class="examination__examination-timelist-item" href="#">08:30</a>
                            <a class="examination__examination-timelist-item" href="#">08:45</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                            <a class="examination__examination-timelist-item" href="#">09:00</a>
                        </div>
                    </div>
                </p-accordionTab>

            </p-accordion>

            <!--  -->
        </div>
    </div>
</div>