* {
  font-family: Noto Sans;
}

.profile-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #696D94;
  width: 700px;
  height: 49px;
  background: #9FE5E9;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
  margin-bottom: 40px;
}

.sanmap__wrapper {
  width: 850px;
  background: #D7F2F3;
  border-radius: 15px;
  padding: 50px 40px;
  margin-bottom: 30px;
}

.sanmap__top {
  display: flex;
  margin-bottom: 50px;
}

.sanmap__top-img {
  width: 60px;
  height: 60px;
  margin-right: 33px;
}

.sanmap__top-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #000000;
}

.sanmap__top-btn {
  width: 349px;
  display: block;
  margin: 0 auto;
  background: #3CB3BB;
  border-radius: 10px;
  text-align: center;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #FFFFFF !important;
}

.sanmap__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #13757A;
  margin-bottom: 23px;
}

.sanmap__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 850px;
}

.sanmap__list-item {
  width: auto;
  margin: 0 33px 17px 0;
  background: #FFFFFF;
  border: 2px solid #3CB5BB;
  border-radius: 10px;
  text-align: center;
  padding: 6px 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #3CB5BB !important;
  cursor: pointer;
  &:hover {
    color: #FFFFFF !important;
    background: #3CB5BB;
  }
}

.sanmap__info {
  width: 850px;
  background: #D7F2F3;
  border-radius: 15px;
}

.sanmap__info-title {
  background: #3CB3BB;
  border-radius: 10px;
  width: 100%;
  padding: 10px 45px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.sanmap__ul {
  padding: 13px 45px;
}

.sanmap__ul-li {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 10px;
}
