<div class="main__info">
    <div class="container">
        <div class="new__wrapper">
            <h2 class="new__title">
                Как российский интерфейс «мозг — компьютер» поможет восстановлению пациентов после COVID-19
            </h2>

            <div class="new">
                <div class="new__info">
                    <div class="new__item-image">
                        <img class="new__item-img" src="../../../assets/pics/main-news/news-1.png" alt="">
                        <p class="new__item-bcs">Категории:
                            <a class="new__item-bcs-title" href="#">COVID-19</a>
                            <a class="new__item-bcs-title" href="#">Российские учёные</a>
                            <a class="new__item-bcs-title" href="#">Наука</a>
                            <a class="new__item-bcs-title" href="#">Прорывные технологии</a>
                        </p>
                    </div>

                    <p class="new-text">
                        Российские исследователи из лаборатории нейроробототехники Московского физико-технического института (МФТИ) выяснили, что разработанный ими для постинсультной реабилитации интерфейс «мозг — компьютер» может использоваться и для восстановления после COVID-19.
                        Об этом RT сообщила пресс-служба Платформы НТИ (Национальной технологической инициативы).
                    </p>
                    <p class="new-text-full">
                        Учёные создали интерфейс на основе электроэнцефалографии (ЭЭГ) и нейросетей. Эта разработка использовала электрическую активность мозга и применялась при восстановлении пациентов после инсульта с помощью специально разработанных аудиовизуальных образов.
                        Впоследствии выяснилось, что интерфейс потенциально способен «записывать» сны. Теперь исследователи предполагают использовать его для реабилитации после болезни, вызванной коронавирусной инфекцией. Интерфейс должен помочь определить
                        наилучшее адаптивное лечение, что позволит нормализовать метаболизм в головном мозге.
                    </p>
                </div>

                <div class="new__source">
                    <p class="new__source-text">Источник:
                        <a class="new__source-link" href="#">Поликлиники №4</a>
                    </p>
                    <p class="new__source-text">02.07.2021</p>
                </div>
                <hr>
                <div class="new__footer">
                    <a class="new__back-link" [routerLink]="['', 'main-news']" routerLinkActive="active">Вернуться</a>
                    <div class="new__social">
                        <p class="new__social-text">Поделиться:</p>

                        <a class="new__socila-link" href="#">
                            <img class="new__social-img" src="../../../assets/pics/social/vk.png" alt="">
                        </a>

                        <a class="new__socila-link" href="#">
                            <img class="new__social-img" src="../../../assets/pics/social/instagram.png" alt="">
                        </a>

                        <a class="new__socila-link" href="#">
                            <img class="new__social-img" src="../../../assets/pics/social/facebook.png" alt="">
                        </a>

                        <a class="new__socila-link" href="#">
                            <img class="new__social-img" src="../../../assets/pics/social/classmates.png" alt="">
                        </a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>