<div class="container">
    <div class="medmap">
        <div class="medmap__recipes">
            <h2 class="medmap__recipes-title">Основной рецепт:</h2>
            <ul class="medmap__recipes-list">
                <li class="medmap__recipes-item-title">
                    <div class="medmap__recipes-item-name">
                        <h3 class="medmap__recipes-item-text">Наименование:</h3>
                    </div>
                    <div class="medmap__recipes-item-doctor">
                        <h3 class="medmap__recipes-item-text">Выписал:</h3>
                    </div>
                    <div class="medmap__recipes-item-date">
                        <h3 class="medmap__recipes-item-text">Действие рецепта:</h3>
                    </div>
                    <div class="medmap__recipes-item-instruction">
                        <h3 class="medmap__recipes-item-text">Инструкция по применению:</h3>
                    </div>
                </li>
                <li class="medmap__recipes-item">
                    <div class="medmap__recipes-item-name">
                        <h3 class="medmap__recipes-item-text">Ранитидин</h3>
                    </div>
                    <div class="medmap__recipes-item-doctor">
                        <a class="medmap__recipes-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__recipes-item-date">
                        <h3 class="medmap__recipes-item-text">До 22.10.2022</h3>
                    </div>
                    <div class="medmap__recipes-item-instruction">
                        <a class="medmap__recipes-item-link" href="#">Ознакомиться</a>
                    </div>
                </li>
            </ul>

            <h2 class="medmap__recipes-title">Второстепенные рецепты:</h2>
            <ul class="medmap__recipes-list">
                <li class="medmap__recipes-item-title">
                    <div class="medmap__recipes-item-name">
                        <h3 class="medmap__recipes-item-text">Наименование:</h3>
                    </div>
                    <div class="medmap__recipes-item-doctor">
                        <h3 class="medmap__recipes-item-text">Выписал:</h3>
                    </div>
                    <div class="medmap__recipes-item-date">
                        <h3 class="medmap__recipes-item-text">Действие рецепта:</h3>
                    </div>
                    <div class="medmap__recipes-item-instruction">
                        <h3 class="medmap__recipes-item-text">Инструкция по применению:</h3>
                    </div>
                </li>
                <li class="medmap__recipes-item">
                    <div class="medmap__recipes-item-name">
                        <h3 class="medmap__recipes-item-text">Фамотидин</h3>
                    </div>
                    <div class="medmap__recipes-item-doctor">
                        <a class="medmap__recipes-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__recipes-item-date">
                        <h3 class="medmap__recipes-item-text">До 15.12.2022</h3>
                    </div>
                    <div class="medmap__recipes-item-instruction">
                        <a class="medmap__recipes-item-link" href="#">Ознакомиться</a>
                    </div>
                </li>
                <li class="medmap__recipes-item">
                    <div class="medmap__recipes-item-name">
                        <h3 class="medmap__recipes-item-text">Омепразол</h3>
                    </div>
                    <div class="medmap__recipes-item-doctor">
                        <a class="medmap__recipes-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__recipes-item-date">
                        <h3 class="medmap__recipes-item-text">До 16.12.2022</h3>
                    </div>
                    <div class="medmap__recipes-item-instruction">
                        <a class="medmap__recipes-item-link" href="#">Ознакомиться</a>
                    </div>
                </li>
                <li class="medmap__recipes-item">
                    <div class="medmap__recipes-item-name">
                        <h3 class="medmap__recipes-item-text">Эзомепразол</h3>
                    </div>
                    <div class="medmap__recipes-item-doctor">
                        <a class="medmap__recipes-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__recipes-item-date">
                        <h3 class="medmap__recipes-item-text">До 15.12.2022</h3>
                    </div>
                    <div class="medmap__recipes-item-instruction">
                        <a class="medmap__recipes-item-link" href="#">Ознакомиться</a>
                    </div>
                </li>
                <li class="medmap__recipes-item">
                    <div class="medmap__recipes-item-name">
                        <h3 class="medmap__recipes-item-text">висмута трикалия дицитрат</h3>
                    </div>
                    <div class="medmap__recipes-item-doctor">
                        <a class="medmap__recipes-item-link" href="#">Афанасий В.Ю.</a>
                    </div>
                    <div class="medmap__recipes-item-date">
                        <h3 class="medmap__recipes-item-text">До 16.12.2022</h3>
                    </div>
                    <div class="medmap__recipes-item-instruction">
                        <a class="medmap__recipes-item-link" href="#">Ознакомиться</a>
                    </div>
                </li>
            </ul>

            <a class="medmap__recipes-link" href="#">Получить рецепт</a>
        </div>
    </div>
</div>