<div class="container">

<form class="cancer" action="">
  <div class="cancer__window">
    <div class="cancer__item">
      <p class="cancer__item-que">Выберите пол:</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Мужской</p>
          <input class="cancer__item-input" type="radio" name="gender1">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Женский</p>
          <input class="cancer__item-input" type="radio" name="gender1">
        </div>
      </div>
    </div>
  </div>

  <div class="cancer__window">
    <h2 class="cancer__window-title">Блок “Наследственность”:</h2>

    <div class="cancer__item">
      <p class="cancer__item-answer">Наличие у кровных родственников злокачественных новообразований кишечника/ молочной железы/ тела матки (нужное подчеркнуть).</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer1">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer1">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Наличие рака желудка у кровных родственников.</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer2">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer2">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Наличие меланомы у кровных родственников.</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer3">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer3">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Наличие рака щитовидной железы у кровных родственников.</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer4">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer4">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Онкозаболевания у кровных родственников (вписать):</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer5">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer5">
        </div>
      </div>
    </div>
  </div>

  <div class="cancer__window">
    <h2 class="cancer__window-title">Блок “Общие симптомы”:</h2>

    <div class="cancer__item">
      <p class="cancer__item-answer">Выявляли ли у Вас ранее онкозаболевания?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer6">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer6">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Имеется ли за последние полгода потеря в весе (без веской причины)?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer7">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer7">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Повышается ли у Вас постоянно температура в течение длительного времени?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer9">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer9">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Прощупываете ли вы у себя какую-нибудь опухоль?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer10">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer10">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Есть ли у Вас симптомы анемии (бледность кожных покровов, головокружение, снижение артериального давления)?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer11">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer11">
        </div>
      </div>
    </div>
    <p class="cancer__window-interpritation">Интерпретация: Если на 2 из 5 вопросов ответ ДА, рекомендовано:</p>
  </div>

  <div class="cancer__window">
    <h2 class="cancer__window-title">Блок “Кожа”:</h2>

    <div class="cancer__item">
      <p class="cancer__item-answer">У вас светлая кожа, светлые волосы и глаза?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer12">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer12">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Частое воздействие солнечных лучей (профессиональное, бытовое, увлечение солярием)?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer13">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer13">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Частый контакт с химическими канцерогенами, ионизирующим излучением?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer14">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer14">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Затрудняюсь ответить</p>
          <input class="cancer__item-input" type="radio" name="answer14">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">У вас есть пигментное родимое пятно (невус) более 1,5 см?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer15">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer15">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">У Вас большое количество невусов (более 50)?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer16">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer16">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Затрудняюсь ответить</p>
          <input class="cancer__item-input" type="radio" name="answer16">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Отмечаете ли Вы увеличение, уплотнение, кровоточивость родимого пятна, родинки?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer17">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer17">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Если ли у Вас на коже образования, которые изменили цвет, размер, стали кровоточить за последнее время; внутрикожные уплотнения, выступающие над поверхностью кожи, длительно не заживающие язвы?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer18">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer18">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Отмечаете ли Вы разрастание в некоторых участках кожи в виде бородавок?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer19">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer19">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Появился зуд, покалывание в области родимого пятна или родинки?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer20">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer20">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Есть ли увеличенные узлы на шее, над ключицей, в подмышечных, паховых областях?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer21">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer21">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Есть ли обильный ночной пот, кожный зуд?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer22">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer22">
        </div>
      </div>
    </div>
    <p class="cancer__window-interpritation">Интерпретация: Если на вопросы 1-5 дан ответ ДА, то необходима консультация дерматолога.</p>
    <p class="cancer__window-interpritation">Если хотя бы на 1 из вопросов с 6 по 10 дан ответ ДА, необходимо рекомендовать консультацию онколога.</p>
  </div>

  <div class="cancer__window">
    <h2 class="cancer__window-title">Блок “Органы полости рта и глотки”:</h2>

    <div class="cancer__item">
      <p class="cancer__item-answer">У Вас есть контакт с жидкими смолами, продуктами переработки нефти?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer23">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer23">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Есть ли у Вас многократное травмирование слизистой оболочки полости рта (неудобные зубные протезы, острые сколы зубов и т.д.) ?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer24">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer24">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Есть ли у Вас на губе, во рту, под языком уплотненные участки, язвы, какие –либо разрастания, незаживающие трещины?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer25">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer25">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Затрудняюсь ответить</p>
          <input class="cancer__item-input" type="radio" name="answer25">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">У Вас наблюдается не проходящая боль в полости рта, припухлость и утолщение языка длительное время, чувство онемения языка?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer26">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer26">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Затрудняюсь ответить</p>
          <input class="cancer__item-input" type="radio" name="answer26">
        </div>
      </div>
    </div>
    <p class="cancer__window-interpritation">Интерпретация:</p>
  </div>

  <div class="cancer__window">
    <h2 class="cancer__window-title">Блок “Гортань”:</h2>

    <div class="cancer__item">
      <p class="cancer__item-answer">Отмечаете ли ощущение присутствие инородного тела?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer27">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer27">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Отмечаете ли Вы осиплость голоса, изменение тембра голоса, осиплость голоса 2 недели и более?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer28">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer28">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Затрудняюсь ответить</p>
          <input class="cancer__item-input" type="radio" name="answer28">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">Отмечаете ли ощущение присутствие инородного тела?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer29">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer29">
        </div>
      </div>
    </div>
    <div class="cancer__item">
      <p class="cancer__item-answer">У Вас наблюдается не проходящая боль в полости рта, припухлость и утолщение языка длительное время, чувство онемения языка?</p>
      <div class="cancer__item-container">
        <div class="cancer__item-point">
          <p class="cancer__item-name">Да</p>
          <input class="cancer__item-input" type="radio" name="answer30">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Нет</p>
          <input class="cancer__item-input" type="radio" name="answer30">
        </div>
        <div class="cancer__item-point">
          <p class="cancer__item-name">Затрудняюсь ответить</p>
          <input class="cancer__item-input" type="radio" name="answer30">
        </div>
      </div>
    </div>
    <p class="cancer__window-interpritation">Интерпретация:</p>
  </div>

  <a class="cancer-link" href="#" type="submit">Отправить</a>
</form>
</div>
